USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetTotalPhySpecialtyByDepartment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetTotalPhySpecialtyByDepartment]

AS
BEGIN
SELECT DepartmentName, SpecialtyName, 
      COUNT(*) AS TotalSpecilty
FROM Physician p JOIN Department d
	 ON p.DepartmentID = d.DepartmentID JOIN Specialty s
	 ON d.SpecialtyID = s.SpecialtyID
GROUP BY DepartmentName, SpecialtyName
ORDER BY TotalSpecilty DESC;

END;
GO
