USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetTopBilledPatients]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspGetTopBilledPatients] 


AS
BEGIN
Select  TOP 40 PERCENT 
	pt.PatientID,
	pt.FirstName,
	pt.LastName,
	bl.BalanceAmount
FROM Billing bl 
JOIN Patient pt ON bl.VisitId= pt.PatientID
JOIN Visit vs ON bl.VisitID = vs.VisitID
 ORDER BY BalanceAmount DESC;

 END;
GO
