USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPatientType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertPatientType]
(
	  @VisitID INT
	, @PatientTypeName VARCHAR(100)               
    , @Description VARCHAR(MAX)
)

AS
Insert into PatientType(VisitID,PatientTypeName, [Description], CreatedDate , UpdatedDate)
VALUES(@VisitID,@PatientTypeName, @Description, GETDATE(),GETDATE())
GO
