USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspUpdateAllergy](
    @AllergyId INT,       
    @AllergyName VARCHAR(100),             
    @AllergyType VARCHAR(50),             
    @Description VARCHAR(MAX),              
    @Severity VARCHAR(50)          
)
AS
Update Allergy
SET AllergyName= @AllergyName, AllergyType=@AllergyType, 
	[Description]=@Description,
	Severity=@Severity 
WHERE AllergyId=@AllergyId;
GO
