USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteDiagnosis]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteDiagnosis]
	@DiagnosisID INT
	
AS

BEGIN
Delete FROM Diagnosis
WHERE DiagnosisID =@DiagnosisID;
END;
GO
