USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientCount]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[uspGetPatientCount]
	@DateVar DATETIME =NULL,
	@FirstName VARCHAR(100) ='%'

	AS 
IF @DateVar IS NULL
	SELECT @DateVar =MIN(AdmissionDate) FROM Admission;
GO
