USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPhysician]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[uspInsertPhysician] 
	@PhysicianFirstName   VARCHAR(50),     
    @PhysicianLastName    VARCHAR(50),     
    @SpecialtyID   INT,
	@DepartmentID INT,
    @Phone       VARCHAR(15),
    @Email       VARCHAR(100)
    
AS
Begin
Insert into Physician 
	(PhysicianFirstName, PhysicianLastName, 
	SpecialtyID, DepartmentID,Phone, Email)
Values
	(@PhysicianFirstName, @PhysicianLastName, @SpecialtyID,
	@DepartmentID, @Phone,@Email);
END;
GO
