USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatientType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspUpdatePatientType]
(
	  @PatientTypeId int
	, @VisitID int
	, @PatientTypeName VARCHAR(100)              
    , @Description VARCHAR(MAX)
)  
AS
UPDATE PatientType
SET VisitID =@VisitID, PatientTypeName= @PatientTypeName, [Description]= @Description 
WHERE PatientTypeId=@PatientTypeId
GO
