USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetTotalVisit]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetTotalVisit]

AS
BEGIN
	SELECT COUNT(*) AS TotalVisit
	FROM  Visit;
END;
GO
