USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatientBedId]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspUpdatePatientBedId]
@BedID int,
@VisitID int

AS
Begin 
Update Bed
SET VisitID=@VisitID
WHERE BedID = @BedID;
End;
GO
