USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatAppointmentStatus]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[uspSelectPatAppointmentStatus] 
AS
BEGIN
SELECT FirstName +'  '+ LastName As 'Patient Full Name', 
	   PhysicianFirstName +'  '+ PhysicianLastName As 'Physician Full Name', 
	   AppointmentDate, Reason, AppStatusName
FROM Patient p 
JOIN Visit vs 
	ON p.PatientID = vs.PatientID
JOIN Appointment app 
	ON vs.PatientID= app.PatientID 
JOIN Physician ph
	ON app.PhysicianID = ph.PhysicianID
Join AppointmentStatus aps
	ON app.AppStatusID = aps.AppStatusID
END;
GO
