USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAppointmentStatus]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertAppointmentStatus]
    (
		@AppStatusName	 Varchar(50),	
		@Description Varchar(255)
	)

AS
BEGIN

INSERT INTO AppointmentStatus(AppStatusName, [Description], CreatedAt)
	   Values(@AppStatusName, @Description,GetDate());
END;
GO
