USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAppointmentReminder]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertAppointmentReminder](
@AppointmentID	INT,
@ReminderType	 Varchar(50),	
@ReminderDate DATETIME,	
@Status Varchar(255)
)
AS
BEGIN

INSERT INTO AppointmentReminder( AppointmentID, ReminderType, ReminderDate,
			Status, CreatedAt)
			Values(@AppointmentID,@ReminderType, @ReminderDate, @Status, GetDate());

	END;


select * from [dbo].[AppointmentReminder]
GO
