USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertBillingService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspInsertBillingService]
	@BillingID INT,
	@ServiceCategory VARCHAR(50) ,
	@ServiceName VARCHAR(100) ,               
	@ServiceDate DateTime,
    @Quantity INT,
	@UnitCost Decimal,                      -- Cost of the service
    @Discount decimal,
	@CreatedDate DATETIME,          
    @UpdatedDate DATETIME 
	
AS
Begin 
Insert into BillingService (
	BillingID, ServiceCategory, ServiceName,ServiceDate,
	Quantity, UnitCost,Discount,CreatedDate,
	UpdatedDate
	) 
Values(@BillingID, @ServiceCategory, @ServiceName,@ServiceDate, @Quantity,
	@UnitCost,@Discount,@CreatedDate,
	@UpdatedDate
);
End;
GO
