USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateAdmission]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateAdmission]
   @AdmissionID INT,
   @VisitID INT,
    @AdmissionTypeID INT,
	@AdmissionDate Date,
	@DepartmentID INT,
	@BedID INT,
	@PhysicianID INT,
	@ArrivalID INT,
    @Description Varchar(255),
	@CreatedAt Datetime,
	@UpdatedAt DateTime,
	@PointOfOriginID INT,
	@SeverityID INT

AS
BEGIN

Update Admission
SET
	VisitID= @VisitID, 
	AdmissionTypeID =@AdmissionTypeID, 
	AdmissionDate =@DepartmentID, 
	BedID= @BedID, 
	PhysicianID =@PhysicianID,
	ArrivalID = @ArrivalID, 
	[Description]= @Description, 
	PointOfOriginID = @PointOfOriginID, 
	SeverityID = @SeverityID
WHERE AdmissionID= @AdmissionID;

END;
GO
