USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAdmission]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteAdmission]
    @AdmissionID INT
	
AS
BEGIN
   Delete from Admission
	WHERE AdmissionID=@AdmissionID;
END;
GO
