USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAdmissionService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertAdmissionService](
@AdmissionID INT,	
@AdmServiceName	 Varchar(100),
@ServiceCategory Varchar(50),	
@ServiceDate	DateTime,
@Cost	Decimal,
@Notes	Varchar(255)
--@CreatedAt	
--@UpdatedAt
)

AS
BEGIN
Insert into AdmissionService(AdmissionID, AdmServiceName,ServiceCategory,
			ServiceDate,Cost,Notes, CreatedAt, UpdatedAt)
	     Values(@AdmissionID, @AdmServiceName,@ServiceCategory,
			@ServiceDate,@Cost,@Notes, GetDate(), GETDATE());
END;
GO
