USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteCNA]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteCNA]
	@CNAID int
	
AS
BEGIN
Delete CNA
WHERE CNAID =@CNAID;
END;
GO
