USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatientContact]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSelectPatientContact]
AS
BEGIN
SELECT FirstName, LastName,DOB, CellPhone, Email 
FROM Patient pt 

JOIN PatientContact pc
	ON pt.PatientID = pc.PatientID; 
 END;
GO
