USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAdmissionType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertAdmissionType]
    @AdmissionTypeName VARCHAR(100),
    @Description VARCHAR(255)
AS
BEGIN
    INSERT INTO AdmissionType ( AdmissionTypeName, [Description], CreatedAt, UpdatedAt)
    VALUES ( @AdmissionTypeName, @Description, GETDATE(), NULL);
END
GO
