USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteInpatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspDeleteInpatient]
    @InpatientID int
AS
BEGIN
    -- Delete the Inpatient record with the specified InpatientID
    DELETE FROM dbo.Inpatient
    WHERE InpatientID = @InpatientID;
END;
GO
