USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientPrescriptionDetails]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetPatientPrescriptionDetails]

AS
BEGIN

SELECT 
    pt.PatientID,
    pt.FirstName + ' ' + pt.LastName AS PatientFullName,
    vs.VisitID,
    vs.VisitDate,
    ph.PhysicianFirstName + ' ' + ph.PhysicianLastName AS PhysicianFullName,
    pr.PrescriptionID,
    pr.[Date] As 'PrescriptionDate',
    md.MedicationCode,
    md.MedicationName,
    pri.Quantity,
    mo.Cost,
    (pri.Quantity * mo.Cost) AS TotalCost
	
FROM Patient pt
JOIN Visit vs ON pt.PatientID = vs.PatientID
JOIN Prescription pr ON vs.VisitID = pr.VisitID
JOIN PrescriptionItems pri ON pr.PrescriptionID = pri.PrescriptionID
JOIN Medication md ON pri.MedicationID = md.MedicationID
JOIN MedicationOrder mo ON md.MedicationID = mo.MedicationID
JOIN Physician ph ON pr.PhysicianId = ph.PhysicianId;

END;
GO
