USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetVisitMedicationDetails]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspGetVisitMedicationDetails]
		--@VisitID INT
	AS
	BEGIN
	SELECT  v.VisitID
		   ,p.FirstName +'  ' + p.LastName AS 'Patient Full Name'
		   , phy.FirstName+'  '+ phy.LastName AS 'Physician Full Name'
		   , d.DiagnosisCode 
		   , d.DiagnosisDescription
		   --, d.Notes AS DiagnosisNotes
		   , m.MedicationCode
		   , m.MedicationName
		   , m.ExpirationDate
		   , pi.quantity
		   ,FORMAT(mo.cost, 'C', 'en-US') AS Medication_Cost
		   , FORMAT(pi.quantity * mo.cost, 'C', 'en-US') AS TotalMedicationCost
	FROM Visit v 
	
	JOIN Patient p 
	    ON v.PatientID = p.PatientID 

	JOIN Diagnosis d
		ON v.VisitID = d.VisitID 

	JOIN Prescription pr
		ON v.VisitID= pr.VisitID 

	JOIN PrescriptionItems pi
		ON pr.PrescriptionID = pi.PrescriptionID 

	JOIN Medication m
		ON  pi.MedicationID= m.MedicationId 

	JOIN MedicationOrder mo
		ON m.MedicationID = mo.MedicationID 

	JOIN  Physician phy
		ON pr.PhysicianId = phy.PhysicianId 

	--WHERE p.VisitID =96;
 
	 END;

	 Select * from Diagnosis
GO
