USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertBedTpe]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertBedTpe](
@BedTypeName Varchar(50),
@Description Varchar(Max),
@DailyRate Decimal
)

AS

BEGIN
	INSERT INTO  BedType( BedTypeName, [Description], DailyRate)
	Values(@BedTypeName, @Description, @DailyRate)
	
END;
GO
