USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetNumberOfTables]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspGetNumberOfTables]

AS
	Begin
		SELECT COUNT(*) AS NumberOfTables
		FROM sys.tables;

	End;
GO
