USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateBedVisitID]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateBedVisitID]
    @BedID INT,            -- Primary Key of Bed table
    @NewVisitID INT        -- New VisitID to update to
AS
BEGIN
    BEGIN TRY
        -- Check if the new VisitID exists in the Patient table
        IF NOT EXISTS (SELECT 1 FROM Visit WHERE PatientID = @NewVisitID)
        BEGIN
            PRINT 'Error: The specified VisitID does not exist in the Patient table.';
            RETURN;
        END;

        -- Update the VisitID in the Bed table
        UPDATE Bed
        SET VisitID = @NewVisitID
        WHERE BedID = @BedID;

        PRINT 'VisitID updated successfully.';
    END TRY
    BEGIN CATCH
        -- Handle errors
        PRINT 'Error occurred: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
