USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAdmissionService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteAdmissionService]
    @AdmissionServiceID INT
	
AS
BEGIN
   Delete from AdmissionService
	WHERE AdmissionServiceID=@AdmissionServiceID;
END;
GO
