USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeletePatientType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[uspDeletePatientType]
	@PatientTypeId int
As
	Delete from PatientType
WHERE PatientTypeId=@PatientTypeId
GO
