USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertInpatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspInsertInpatient]
	@VisitId           INT = NULL,                        
    @BedID             INT = NULL,                       
    @GMLOS             VARCHAR(50) = NULL,                        
    @Notes             VARCHAR(MAX) = NULL,                        
    @PreopFlag         VARCHAR(50) = NULL,                        
    @Telemetry         VARCHAR(50) = NULL,                         
    @Allergies         VARCHAR(50) = NULL,                         
    @NPO               VARCHAR(50) = NULL,                         
    @DNR               VARCHAR(50) = NULL,                         
    @Fall              VARCHAR(50) = NULL,                        
    @PreopFlagVal      VARCHAR(50) = NULL,                        
    @LegalStatusID     INT = NULL,                                
    @LegalStatusColor  VARCHAR(50) = NULL,                         
    @LegalStatusVal    VARCHAR(50) = NULL,                         
    @SoundAlike        VARCHAR(50) = NULL,                       
    @AdmitDate         VARCHAR(50) = NULL,                         
    @DischargeDate     VARCHAR(50) = NULL,                        
    @PCU               VARCHAR(50) = NULL,                        
    @CountDownFromAdmit VARCHAR(50) = NULL,                       
    @PsychiatristSeen  VARCHAR(50) = NULL,                         
    @InternistSeen     VARCHAR(50) = NULL


AS
IF NOT EXISTS (SELECT * FROM Inpatient WHERE VisitId = @VisitId AND AdmitDate = @AdmitDate)
    THROW 50001, 'Inpatient record already exists for this Patient and AdmitDate!', 1;
IF @BedID IS NULL
	THROW 50001, 'Invalid BedID.', 1;
IF @GMLOS IS NULL 
	THROW 50001, 'Invalid GMLOS.', 1;
IF @Notes IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @PreopFlag IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @Telemetry IS NULL 
	THROW 50001, 'Invalid GMLOS.', 1;
IF @Allergies IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @NPO IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @DNR IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @Fall IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @PreopFlagVal IS NULL
    SET @PreopFlagVal = 0;
IF NOT EXISTS (SELECT * FROM LegalStatus WHERE LegalStatusID = @LegalStatusID)
    IF @LegalStatusID IS NULL
        SELECT @LegalStatusID = LegalStatusID
        FROM Inpatient WHERE VisitId = @VisitId AND AdmitDate = @AdmitDate;
    ELSE  -- @LegalStatusID IS NOT NULL
        THROW 50001, 'Invalid LegalStatusID.', 1;
IF @LegalStatusColor IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @LegalStatusVal IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @SoundAlike IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @DischargeDate  IS NULL OR @DischargeDate  > GETDATE() 
        OR DATEDIFF(dd, @DischargeDate , GETDATE()) > 30
    THROW 50001, 'Invalid DischargeDate .', 1;
IF @PCU IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @CountDownFromAdmit IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @PsychiatristSeen IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;
IF @InternistSeen IS NULL
	THROW 50001, 'Invalid GMLOS.', 1;

INSERT Inpatient
VALUES (@VisitId, @BedID, @GMLOS, @Notes, @PreopFlag, @Telemetry, @Allergies, @NPO, @DNR, @Fall, 
             @PreopFlagVal, @LegalStatusID, @LegalStatusColor, @LegalStatusVal, @SoundAlike, @AdmitDate, 
             @DischargeDate, @PCU, @CountDownFromAdmit, @PsychiatristSeen, @InternistSeen);
RETURN @@IDENTITY;
GO
