USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateInpatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspUpdateInpatient]
	@InpatientID      INT,
    @VisitId         INT,                        
    @BedID             INT,                       
    @GMLOS             VARCHAR(50),                         
    @Notes             VARCHAR(MAX),                        
    @PreopFlag         VARCHAR(50),                        
    @Telemetry         VARCHAR(50),                         
    @Allergies         VARCHAR(50),                         
    @NPO               VARCHAR(50),                         
    @DNR               VARCHAR(50),                         
    @Fall              VARCHAR(50),                        
    @PreopFlagVal      VARCHAR(50),                        
    @LegalStatusID     INT,                                 
    @LegalStatusColor  VARCHAR(50),                         
    @LegalStatusVal    VARCHAR(50),                        
    @SoundAlike        VARCHAR(50),                       
    @AdmitDate         VARCHAR(50),                         
    @DischargeDate     VARCHAR(50),                        
    @PCU               VARCHAR(50),                        
    @CountDownFromAdmit VARCHAR(50),                       
    @PsychiatristSeen  VARCHAR(50),                         
    @InternistSeen     VARCHAR(50)

AS
BEGIN
Update Inpatient
SET VisitId =@VisitId, BedID =@BedID, GMLOS =@GMLOS, Notes= @Notes, 
    PreopFlag =@PreopFlag, Telemetry =@Telemetry, Allergies =@Allergies, NPO= @NPO, DNR =@DNR, Fall =@Fall, 
     PreopFlagVal =@PreopFlag, LegalStatusID =@LegalStatusID, LegalStatusColor =@LegalStatusColor, LegalStatusVal =@LegalStatusVal, 
	 SoundAlike =@SoundAlike, AdmitDate =@AdmitDate, DischargeDate =@DischargeDate, PCU =@PCU, 
	 CountDownFromAdmit =@CountDownFromAdmit, PsychiatristSeen=@PsychiatristSeen, InternistSeen=@InternistSeen
	 WHERE InpatientID=@InpatientID
  END;
GO
