USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetListsOfTables]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspGetListsOfTables]

AS
	Begin
		SELECT name
		FROM sys.tables;

	End;
GO
