USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientPrescription]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetPatientPrescription]

--EXEC uspGetPatientPrescription @PatientID= 183;

    @PatientID int  = NULL,
    @FirstName  Varchar(255) = NULL,
	@LastName Varchar(255) = NULL,
    @VisitID int = NULL,
    @VisitDate DateTime  = NULL,
    @PhysicianFirstName Varchar(50)  = NULL,
	@PhysicianLastName Varchar(50) = NULL,
	@PrescriptionID int  = NULL,
    @Date DATETIME = NULL,
    @MedicationCode Varchar(50)  = NULL,
    @MedicationName Varchar(50) = NULL,
    @Quantity float  = NULL,
    @Cost float  = NULL,
	@Frequency Varchar(50) = NULL,
	@Route Varchar(50) = NULL,
	@Dosage Varchar(50) = NULL,
	@StartDate DATE =NULL,
	@EndDate DATE  =NULL,
	@Description Varchar(255) = NULL
	
AS
BEGIN

SELECT 
    pt.PatientID,
    pt.FirstName,
	pt. LastName,
    vs.VisitID,
    vs.VisitDate,
    ph.PhysicianFirstName ,
	ph.PhysicianLastName ,
    pr.PrescriptionID,
    pr.[Date] As 'PrescriptionDate',
    md.MedicationCode,
    md.MedicationName,
	mo.Frequency,
	mo.[Route], 
	mo.Dosage,
	mo.StartDate,
	mo.EndDate,
	mo.[Description],
    pri.Quantity,
    mo.Cost,
    (pri.Quantity * mo.Cost) AS TotalCost
	
FROM Patient pt

JOIN Visit vs 
	ON pt.PatientID = vs.PatientID

LEFT JOIN Prescription pr 
	ON vs.VisitID = pr.VisitID

JOIN PrescriptionItems pri 
	ON pr.PrescriptionID = pri.PrescriptionID

JOIN Medication md 
	ON pri.MedicationID = md.MedicationID

JOIN MedicationOrder mo 
	ON md.MedicationID = mo.MedicationID

JOIN Physician ph 
	ON pr.PhysicianId = ph.PhysicianId

WHERE 
    (@PatientID IS NULL OR pt.PatientID = @PatientID)
    AND (@FirstName IS NULL OR pt.FirstName = @FirstName)
    AND (@LastName IS NULL OR pt.LastName = @LastName)
    AND (@VisitID IS NULL OR vs.VisitID = @VisitID)
    AND (@VisitDate IS NULL OR vs.VisitDate = @VisitDate)
    AND (@PhysicianFirstName IS NULL OR ph.PhysicianFirstName = @PhysicianFirstName)
    AND (@PhysicianLastName IS NULL OR ph.PhysicianLastName = @PhysicianLastName)
    AND (@PrescriptionID IS NULL OR pr.PrescriptionID = @PrescriptionID)
    AND (@Date IS NULL OR pr.[Date] = @Date)
    AND (@MedicationCode IS NULL OR md.MedicationCode = @MedicationCode)
    AND (@MedicationName IS NULL OR md.MedicationName = @MedicationName)
    AND (@Quantity IS NULL OR pri.Quantity = @Quantity)
    AND (@Cost IS NULL OR mo.Cost = @Cost)
	AND (@Frequency IS NULL OR mo.Frequency= @Frequency)
	AND (@Route IS NULL OR  mo.Route = @Route)
	AND (@Dosage IS NULL OR  mo.Dosage = @Dosage)
	AND (@StartDate IS NULL OR  mo.StartDate = @StartDate)
	AND (@EndDate IS NULL OR  mo.EndDate = @EndDate)
	AND (@Description IS NULL OR mo.Description = @Description )

END;


GO
