USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertMultiplePatientValues]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertMultiplePatientValues]
AS
BEGIN
    INSERT INTO dbo.Patient (FirstName, LastName, DOB)
    VALUES 
        ('Bella', 'Bogale', '1994-03-01'),
        ('Aynalem', 'Fekede', '1990-03-01'),
        ('Kalkidan', 'Mule', '1986-07-08');
END;
GO
