USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspSelectPatient]

AS
BEGIN
Select PatientID, FirstName, MiddleName,LastName, DOB, 
			SSN,MED_RecNo, GenderID, MaritalStatusID, 
			ReligionID,RaceID, LanguageId,  
			RankID, CreatedAt
 
FROM Patient;
END;
GO
