USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPatientAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspInsertPatientAllergy](
    @VisitId INT,
	@AllergyId INT ,
    @DateDiagnosed DATETIME,
	@Description VARCHAR(MAX)    
)

AS
Begin
Insert into PatientAllergy (
		VisitId, AllergyId,DateDiagnosed,[Description],
		 CreatedDate , UpdatedDate)

Values(@VisitId, @AllergyId,@DateDiagnosed, @Description,
		 GetDate(), GetDate()) 
End;
GO
