USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateCNA]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateCNA]
	@CNAID int,
	@FirstName varchar(50),	
	@LastName varchar(50),
	@LicenseNumber varchar(50),
	@PhoneNumber varchar(15),	
	@Email varchar(100),	
	@HireDate datetime,	
	@Specialty varchar(100),
	@CreatedDate datetime,	
	@UpdatedDate datetime
AS
BEGIN
Update CNA
SET
	
	FirstName= @FirstName,	
	LastName =@LastName,
	LicenseNumber =@LicenseNumber,
	PhoneNumber =@PhoneNumber,	
	Email =@Email,	
	HireDate =@HireDate,	
	Specialty =@Specialty,
	CreatedDate =@CreatedDate,	
	UpdatedDate =@UpdatedDate
WHERE CNAID =@CNAID;
    
END;
GO
