USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeletePatientNurse]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[uspDeletePatientNurse]
	@PatientNurseID int
	AS
	BEGIN
	Delete from PatientNurse
	WHERE PatientNurseID= @PatientNurseID;
	END
GO
