USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPatientContact]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertPatientContact](
@PatientID	INT,
@HomePhone	Varchar(20),
@CellPhone	Varchar(20),
@Email Varchar(100)
)
	AS
	BEGIN
	Insert Into PatientContact(PatientID, HomePhone, CellPhone, EMail)
	Values(@PatientID, @HomePhone, @CellPhone,  @Email)
	END;
GO
