USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectDiagnosis]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSelectDiagnosis]

AS

BEGIN
SELECT
	VisitID
	,DiagnosisCode
	,DiagnosisDescription
	,DiagnosisDate
FROM Diagnosis;
END;
GO
