USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientAdmissionService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  PROCEDURE [dbo].[uspGetPatientAdmissionService] 

AS  
BEGIN
SELECT FirstName, LastName, AdmServiceName, 
       AdmissionTypeName, ServiceCategory, ServiceDate, Cost, Notes 
FROM Patient p JOIN Visit vs ON p.PatientID = vs.PatientID
JOIN Admission ad
	ON vs.VisitID = ad.VisitID
JOIN AdmissionType adt
	ON ad.AdmissionTypeID = adt.AdmissionTypeID
JOIN AdmissionService ads
  ON ad.AdmissionID = ads.AdmissionID
END;
GO
