USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetRepeatingVisitID]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetRepeatingVisitID]
AS
BEGIN
SELECT VisitID, COUNT(*) AS TotalNumber
FROM Admission
GROUP BY VisitID
HAVING COUNT(*) > 1;
END;
GO
