USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetMinAndMaxPhyIDTotPhysician]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetMinAndMaxPhyIDTotPhysician]
AS
BEGIN
SELECT MIN(PhysicianID) AS MinID, MAX(PhysicianID) AS MaxID, COUNT(*) AS TotalPhysicians
FROM Physician;
END;
GO
