USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPhysiciansWithMostAppts]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetPhysiciansWithMostAppts]

AS
BEGIN
SELECT 
    ap.PhysicianID,
    ph.PhysicianFirstName, 
    ph.PhysicianLastName,
    COUNT(*) AS TotalPatients
FROM Appointment ap 
JOIN Physician ph 
    ON ap.PhysicianID = ph.PhysicianID
GROUP BY 
    ap.PhysicianID,
    ph.PhysicianFirstName, 
    ph.PhysicianLastName
HAVING COUNT(*) >= 3
ORDER BY TotalPatients DESC;
END;
GO
