USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetMissingID]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetMissingID]

AS
BEGIN
	SELECT number AS MissingPhysicianID
	FROM master..spt_values
	WHERE type = 'P'
		AND number BETWEEN 1 AND 299
		AND number NOT IN (SELECT PhysicianID FROM Physician);

END;
GO
