USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertArrivedBy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertArrivedBy]
    (
		@ArrivalMethod	 Varchar(50),	
		@Description Varchar(255)
	)

AS
BEGIN

INSERT INTO ArrivedBy(ArrivalMethod, [Description], CreatedAt, UpdatedAt)
	   Values(@ArrivalMethod, @Description,GetDate(), GetDate());
END;
GO
