USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspBookAppointment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspBookAppointment]
    @PatientID INT,
    @PhysicianID INT,
    @AppointmentDate DATETIME,
    @Reason VARCHAR(50),
	@AppStatusID INT,
	@Description VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 
        FROM Appointment
        WHERE PhysicianID = @PhysicianID 
        AND AppointmentDate = @AppointmentDate
    )
    BEGIN
        RAISERROR ('Doctor is not available at this time.', 16, 1);
        RETURN;
    END
	select * from Appointment
    INSERT INTO Appointment (
        PatientID,
        PhysicianID,
        AppointmentDate,
        Reason, 
		AppStatusID,
		[Description]
    )
    VALUES (
        @PatientID,
        @PhysicianID,
        @AppointmentDate,
        @Reason,
		@AppStatusID,
		@Description
    );
END;
GO
