USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectInpatientDetails]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[uspSelectInpatientDetails]
AS
BEGIN

SELECT 
    p.PatientID, 
    p.FirstName, 
    p.LastName, 
    p.DOB, 

    pc.CellPhone, 
    pc.Email,

    r.ReligionName, 
    ra.RaceName, 
    c.CategoryName, 
    g.GenderName,  

    b.RoomNumber, 

    inp.GMLOS, 
    inp.PreopFlag,  
    inp.Telemetry,          
    inp.Allergies,  
    inp.NPO,  
    inp.DNR,  
    inp.Fall,  
    inp.PreopFlagVal,  
    inp.LegalStatusVal,
    inp.LegalStatusColor,  
    inp.SoundAlike, 

    inp.AdmitDate, 
    inp.DischargeDate, 
    inp.PCU, 
    inp.CountDownFromAdmit,
    inp.PsychiatristSeen,
    inp.InternistSeen

FROM Visit vs 

-- Patient
JOIN Patient p 
    ON vs.PatientID = p.PatientID

-- ONE contact per patient
LEFT JOIN (
    SELECT PatientID, 
           MAX(CellPhone) AS CellPhone, 
           MAX(Email) AS Email
    FROM PatientContact
    GROUP BY PatientID
) pc 
    ON p.PatientID = pc.PatientID 

-- ONE bed per visit
LEFT JOIN (
    SELECT VisitID, 
           MAX(RoomNumber) AS RoomNumber
    FROM Bed
    GROUP BY VisitID
) b 
    ON vs.VisitID = b.VisitID 

-- ONE inpatient record (latest)
LEFT JOIN (
    SELECT *
    FROM (
        SELECT *,
               ROW_NUMBER() OVER (PARTITION BY VisitID ORDER BY AdmitDate DESC) AS rn
        FROM Inpatient
    ) t
    WHERE rn = 1
) inp 
    ON vs.VisitID = inp.VisitID

-- Lookups
LEFT JOIN Religion r 
    ON p.ReligionID = r.ReligionID 
    
LEFT JOIN Race ra
    ON p.RaceID = ra.RaceID 

LEFT JOIN PatientCategory c
    ON vs.PatientCategoryID = c.PatientCategoryID 

LEFT JOIN Gender g
    ON p.GenderID = g.GenderID 

--  ONLY INPATIENT
WHERE 
    c.CategoryName = 'Inpatient'
    AND inp.VisitID IS NOT NULL

ORDER BY inp.AdmitDate DESC;

END;
GO
