USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertBed]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertBed](
@BedTypeId INT,	
@RoomNumber Varchar(10),	
@IsOccupied bit,	
@VisitId INT,	
@DateAssigned DATETIME,	
@DateReleased DATETIME,	
@Notes VARCHAR(MAX)
)

AS

BEGIN
INSERT INTO BED(BedTypeId,	
	RoomNumber,	
	IsOccupied,	
	VisitId,	
	DateAssigned,	
	DateReleased,	
	Notes
)
Values(@BedTypeId,	
	@RoomNumber,	
	@IsOccupied,	
	@VisitId,	
	@DateAssigned,	
	@DateReleased,	
	@Notes
);
END;
GO
