USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPhysician]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspSelectPhysician]
AS
BEGIN
SELECT PhysicianFirstName, PhysicianLastName, 
		SpecialtyName, Phone, Email    
FROM Physician ph 
JOIN Specialty sp
	ON ph.SpecialtyID = sp.SpecialtyID; 

END;
GO
