USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPatientNurse]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[uspInsertPatientNurse]
	@VisitId int,
	@NurseId int,
	@DateFrom datetime,
	@DateTo datetime,
	@CreatedDate datetime ,
	@UpdatedDate Datetime

	AS
	BEGIN
	INSERT INTO PatientNurse
	(VisitId, NurseId, DateFrom, DateTo,CreatedDate, UpdatedDate)
	Values
	(@VisitId, @NurseId, @DateFrom, @DateTo, @CreatedDate, @UpdatedDate)
	END;
GO
