USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertDepartment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertDepartment]
	@DepartmentCode	Varchar(50)
	,@DepartmentName	Varchar(100)
	,@SpecialtyID INT	
	,@Phone	Varchar(20)
	,@CreatedAt	DATETIME
	,@UpdatedAt  DATETIME

AS
BEGIN 
INSERT INTO Department(
	DepartmentCode	
	,DepartmentName	
	,SpecialtyID	
	,Phone	
	,CreatedAt	
	,UpdatedAt
	)
 Values(
	 @DepartmentCode	
	,@DepartmentName
	,@SpecialtyID	
	,@Phone	
	,@CreatedAt	
	,@UpdatedAt
)

END;
GO
