USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatientAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspUpdatePatientAllergy](
    @PatientAllergyId INT , 
    @AllergyId INT ,                         
    @Description VARCHAR(MAX),
	@VisitId INT,
	@DateDiagnosed DATETIME
)

AS
Update PatientAllergy
SET  AllergyId= @AllergyId, VisitId=@VisitId,[Description]=@Description, DateDiagnosed=@DateDiagnosed
WHERE PatientAllergyId=@PatientAllergyId
GO
