USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAdmissionType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspDeleteAdmissionType]
    @AdmissionTypeID INT
	
AS
BEGIN
   Delete from AdmissionType
	WHERE AdmissionTypeID=@AdmissionTypeID;
END;
GO
