USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[uspSelectAllergy]
As
BEGIN
Select AllergyId, AllergyName, AllergyType, [Description], 
       Severity, CreatedDate, UpdatedDate  
From Allergy;
END;
GO
