USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertPatient]
    @FirstName VARCHAR(255),
    @MiddleName VARCHAR(255),
    @LastName VARCHAR(255),
    @DOB DATE,
    @SSN VARCHAR(255),
    @MED_RecNo VARCHAR(255),
    @ReligionID INT,
    @RaceID INT,
    @GenderID INT,
    @MaritalStatusID INT,
    @RankID INT,
    @LanguageId INT
AS
BEGIN
    INSERT INTO Patient
    (
        FirstName, MiddleName, LastName, DOB, MED_RecNo, SSN,
        ReligionID, RaceID, LanguageId, GenderID, MaritalStatusID, RankID, CreatedAt
    )
    VALUES
    (
        @FirstName, @MiddleName, @LastName, @DOB, @MED_RecNo, @SSN,
        @ReligionID, @RaceID, @LanguageId, @GenderID, @MaritalStatusID, @RankID, GETDATE()
    );
END;
GO
