USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatientNurse]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[uspUpdatePatientNurse]
	@PatientNurseID int,
	@VisitId int,
	@NurseId int,
	@DateFrom datetime,
	@DateTo datetime,
	@CreatedDate datetime ,
	@UpdatedDate Datetime

AS
BEGIN
Update  PatientNurse
SET VisitId =@VisitId, NurseId =@NurseId, DateFrom =@DateFrom, 
	DateTo =@DateTo,CreatedDate =@CreatedDate, UpdatedDate =@UpdatedDate
	 WHERE PatientNurseID= @PatientNurseID;
END;
GO
