USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePrescription]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspUpdatePrescription]
	@PrescriptionID int,
	@VisitId  int ,
	@PhysicianId int ,
	@PaymentMethodID int ,
	@Date DATETIME,
	@Description Varchar(MAX)
AS
BEGIN
	UPDATE Prescription
SET 
	VisitId= @VisitId ,
	PhysicianId= @PhysicianId  ,
	PaymentMethodID= @PaymentMethodID ,
	[Date]= @Date,
	[Description]= @Description 
WHERE PrescriptionID= @PrescriptionID;

END;
GO
