USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspCalcPatientGenderMaritalPercent]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCalcPatientGenderMaritalPercent]
AS
BEGIN
SELECT  
    g.GenderName,
    m.MaritalStatusName,
    COUNT(*) AS TotalPatients,
    -- Calculate percentage
    CAST(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER() AS DECIMAL(5,2)) AS Percentage
FROM Gender g
JOIN Patient p ON p.GenderID = g.GenderID 
JOIN MaritalStatus m ON p.MaritalStatusID = m.MaritalStatusID
WHERE m.MaritalStatusName IN ('Single', 'Married','Divorced','Widowed','Separated')
GROUP BY 
    g.GenderName,
    m.MaritalStatusName
ORDER BY TotalPatients DESC;
END;
GO
