USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatientBasicInfo]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspUpdatePatientBasicInfo]

@PatientID int,
@FirstName varchar(100),
@LastName varchar(100),
@DOB Datetime
AS
Begin 
Update Patient
SET FirstName=@FirstName,
LastName= @LastName,
DOB= @DOB

WHERE PatientID = @PatientID;
End;
GO
