USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetTotalVisitTypeByStatus]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetTotalVisitTypeByStatus]

AS
BEGIN
	SELECT VisitType,[Status],
		COUNT(*) AS TotalVisit
	FROM  Visit
	GROUP BY VisitType,[Status]
	ORDER BY TotalVisit DESC;
END;
GO
