USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientAdmissionDetails]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspGetPatientAdmissionDetails]

AS
BEGIN

SELECT  
    pt.FirstName,
    pt.LastName,
    pc.CellPhone,
    pt.DOB,
    vs.VisitType,

    ads.AdmServiceName,
    adt.AdmissionTypeName,
    ad.AdmissionDate,

    sv.SeverityLevel,
    ar.ArrivalMethod,
    po.OriginName 

FROM Admission ad 

JOIN Visit vs 
    ON ad.VisitID = vs.VisitID 

JOIN Patient pt
    ON vs.PatientID = pt.PatientID 

JOIN PatientContact pc
    ON pt.PatientID = pc.PatientID 

LEFT JOIN AdmissionService ads 
    ON ad.AdmissionID = ads.AdmissionID  

JOIN AdmissionType adt 
    ON ad.AdmissionTypeID = adt.AdmissionTypeID 

LEFT JOIN Severity sv 
    ON ad.SeverityID = sv.SeverityID      

JOIN PointOfOrigin po  
    ON ad.PointOfOriginID = po.PointOfOriginID 

JOIN ArrivedBy ar  
    ON ad.ArrivalID = ar.ArrivalID;

	END;

	
GO
