USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteDepartment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteDepartment]
	@DepartmentID INT
	

AS
BEGIN 
DELETE FROM Department

WHERE DepartmentID= @DepartmentID;
END;
GO
