USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateBedTpe]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateBedTpe](
@BedTypeName Varchar(50),
@Description Varchar(Max),
@DailyRate Decimal
)

AS

BEGIN
	Update  BedType

	SET
	BedTypeName = @BedTypeName, 
	[Description] =@Description, 
	DailyRate =@DailyRate	
END;
GO
