USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetDischargedPatientList]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetDischargedPatientList]

AS
BEGIN
SELECT vs.VisitID,ad.AdmissionID, pt.FirstName, pt.LastName,
   d.DischargeDate, ds.StatusName
From Admission ad 
JOIN  Discharge d ON ad.AdmissionID =d.AdmissionID 
JOIN Visit vs ON ad.VisitID = vs.VisitID
JOIN Patient pt ON vs.PatientID =pt.PatientID
JOIN DischargeStatus ds ON d.StatusID = ds.StatusID;
END;
GO
