USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteBillingService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[uspDeleteBillingService]
	@BillingServiceID int	
AS
BEGIN
	Delete from BillingService
	WHERE BillingServiceID= @BillingServiceID;
END;
GO
