USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertCNA]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspInsertCNA]
	@FirstName varchar(50),	
	@LastName varchar(50),
	@LicenseNumber varchar(50),
	@PhoneNumber varchar(15),	
	@Email varchar(100),	
	@HireDate datetime,	
	@Specialty varchar(100),
	@CreatedDate datetime,	
	@UpdatedDate datetime
AS
BEGIN
Insert Into CNA
   (
	FirstName,	LastName,LicenseNumber,
	PhoneNumber,	Email,	HireDate,	Specialty,
	CreatedDate,	UpdatedDate
    )
Values
	(
	@FirstName,	@LastName,@LicenseNumber,
	@PhoneNumber,	@Email,	@HireDate,	@Specialty,
	@CreatedDate,	@UpdatedDate
	);
END;
GO
