USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateAdmissionService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE  [dbo].[uspUpdateAdmissionService](
	@AdmissionServiceID INT,
	@AdmissionID INT,	
	@AdmServiceName	 Varchar(100),
	@ServiceCategory Varchar(50),	
	@ServiceDate	DateTime,
	@Cost	Decimal,
	@Notes	Varchar(255)
--@CreatedAt	
--@UpdatedAt
)

AS
BEGIN
Update  AdmissionService
SET
			AdmissionID =@AdmissionID, 
			AdmServiceName =@AdmServiceName,
			ServiceCategory =@ServiceCategory,
			ServiceDate= @ServiceDate,
			Cost=@Cost,
			Notes= @Notes
			WHERE AdmissionServiceID= @AdmissionServiceID
END;
GO
