USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspUpdatePatient]
	@PatientId int,
    @FirstName VARCHAR(100),
    @LastName VARCHAR(100),
    @DOB DATE,
	@ReligionID INT,
    @RaceID INT,
    @CategoryID INT,
    @GenderID INT,
    @MaritalStatusID INT
    
AS
BEGIN
    Update [dbo].[Patient] 
    SET FirstName=@FirstName, LastName=@LastName, 
	DOB=@DOB, ReligionID=@ReligionID, RaceID=@RaceID, 
	   GenderID=@GenderID, MaritalStatusID=@MaritalStatusID
	 WHERE PatientId= @PatientId 
END;
GO
