USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatientAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspSelectPatientAllergy]

AS
SELECT PatientAllergyId,VisitId, AllergyId,
	   [Description],DateDiagnosed, 
	   CreatedDate,UpdatedDate 
FROM PatientAllergy
GO
