USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAppointment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteAppointment]
    @AppointmentID INT
	
AS
BEGIN
   Delete from Appointment
	WHERE AppointmentID=@AppointmentID;
END;
GO
