USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetInpatientByCategory2]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspGetInpatientByCategory2]

AS
BEGIN
SELECT  p.PatientID, FirstName, LastName,DOB, 
		CellPhone, Email,ReligionName,RaceName,CategoryName, 
        GenderName,  RoomNumber, GMLOS, PreopFlag,  Telemetry,          
        Allergies,  NPO,  DNR,  Fall,  PreopFlagVal,  
		LegalStatusVal,LegalStatusColor,  
        SoundAlike, AdmitDate, DischargeDate, PCU, 
		CountDownFromAdmit,PsychiatristSeen,InternistSeen
FROM Inpatient inp 
JOIN Visit vs 
	ON inp.VisitId = vs.VisitID
	
JOIN Patient p 
	ON vs.PatientID = p.PatientID

JOIN PatientContact pc
	ON p.PatientID = pc.PatientID 

LEFT JOIN Bed b 
	ON vs.VisitID = b.VisitId 

JOIN Religion r 
	ON p.ReligionID=r.ReligionID 
	
JOIN Race ra
	ON p.RaceID=ra.RaceID 

JOIN PatientCategory c
	ON vs.PatientCategoryID = c.PatientCategoryID 

JOIN Gender g
	ON p.GenderID= g.GenderID 

JOIN MaritalStatus m
	ON p.MaritalStatusID= m.MaritalStatusID

WHERE CategoryName IN ( 'Outpatient', 'Inpatient');
	
END;
GO
