USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSearchPatientByPatientID]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspSearchPatientByPatientID]
	@PatientsID int
	as
Select * from Patient
Where PatientID= @PatientsID
GO
