USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteBedTpe]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteBedTpe](
@BedTypeID INT
)

AS

BEGIN
	Delete from BedType
	WHERE BedTypeID = @BedTypeID;
END;
GO
