USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateDepartment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateDepartment]
	@DepartmentID INT
	,@DepartmentCode	Varchar(50)
	,@DepartmentName	Varchar(100)
	,@SpecialtyID INT	
	,@Phone	Varchar(20)
	,@CreatedAt	DATETIME
	,@UpdatedAt  DATETIME

AS
BEGIN 
Update Department
	SET
	 DepartmentCode =@DepartmentCode
	,DepartmentName	= @DepartmentName
	,SpecialtyID	=@SpecialtyID
	,Phone =	@Phone	
	,CreatedAt	=@CreatedAt	
	,UpdatedAt  =@UpdatedAt
WHERE DepartmentID= @DepartmentID;
END;
GO
