USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatientType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspSelectPatientType]
As
Select  PatientTypeId,VisitID, PatientTypeName, 
		[Description], CreatedDate, UpdatedDate 
FROM PatientType;
GO
