USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAlergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspInsertAlergy](
	@AllergyName VARCHAR(100) ,             
    @AllergyType VARCHAR(50) ,             
    @Description VARCHAR(MAX),              
    @Severity VARCHAR(50)                    
)
AS
BEGIN
Insert into Allergy 
	(AllergyName, AllergyType, [Description], Severity, CreatedDate , UpdatedDate)
 Values(@AllergyName, @AllergyType, @Description, @Severity, Getdate(), Getdate())
 END;
GO
