USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAppointmentStatus]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteAppointmentStatus]
    @AppStatusID INT
	
AS
BEGIN
   Delete from AppointmentStatus
	WHERE AppStatusID=@AppStatusID;
END;
GO
