USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetNoOfPatientByCategory]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetNoOfPatientByCategory]

AS
BEGIN
SELECT CategoryName, COUNT(VisitID) AS NumberOfPatients
FROM VISIT  vs
JOIN PatientCategory pc 
	ON vs.PatientCategoryID = pc.PatientCategoryID
GROUP BY CategoryName
ORDER BY NumberOfPatients DESC;

END;
GO
