USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateAdmissionType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspUpdateAdmissionType]
    @AdmissionTypeID INT,
	@AdmissionTypeName VARCHAR(100),
    @Description VARCHAR(255)
AS
BEGIN
    UPDATE AdmissionType 
	SET
	AdmissionTypeName =@AdmissionTypeName, 
	[Description] = @Description
	WHERE AdmissionTypeID =@AdmissionTypeID;
END;
GO
