USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertPrescription]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspInsertPrescription]
	@VisitId  int ,
	@PhysicianId int ,
	@PaymentMethodID int ,
	@Date DATETIME,
	@Description Varchar(MAX)
	

	AS
	BEGIN
	INSERT INTO Prescription (VisitId, PhysicianId,PaymentMethodID, [Date], [Description])
			values(@VisitId, @PhysicianId, @PaymentMethodID, @Date, @Description);

	END;
GO
