USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteBed]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteBed](
@BedID INT
)

AS

BEGIN
	Delete from Bed
	WHERE BedID = @BedID;
END;
GO
