USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateBillingService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[uspUpdateBillingService]
	@BillingServiceID int,
	@BillingID INT,
	@ServiceCategory VARCHAR(100) ,
	@ServiceName VARCHAR(100) ,               
    @ServiceDate Date,
	@Quantity int, 
    @UnitCost VARCHAR(50),                -- Code for the service (e.g., CPT or internal code)                     -- Cost of the service
    @Discount decimal,
	@CreatedDate DATETIME,          
    @UpdatedDate DATETIME 
AS
BEGIN
	Update BillingService
	Set  BillingID=@BillingID, ServiceCategory=@ServiceCategory,ServiceName= @ServiceName,
	ServiceDate=@ServiceDate,Quantity=@Quantity,UnitCost=@UnitCost,Discount=@Discount,CreatedDate=@CreatedDate,
	UpdatedDate=@UpdatedDate
	WHERE BillingServiceID= @BillingServiceID;
END;
GO
