USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAppointmentReminder]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteAppointmentReminder]
    @ReminderID INT
	
AS
BEGIN
   Delete from AppointmentReminder
	WHERE ReminderID=@ReminderID;
END;
GO
