USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateDiagnosis]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateDiagnosis]
	@DiagnosisID INT
	,@VisitID INT
	,@DiagnosisCode Varchar(20)
	,@DiagnosisDescription Varchar(255)
	,@DiagnosisDate  Datetime
AS

BEGIN
Update Diagnosis
  SET
	VisitID =@VisitID
	,DiagnosisCode =@DiagnosisCode
	,DiagnosisDescription =@DiagnosisDescription
	,DiagnosisDate =@DiagnosisDate
WHERE DiagnosisID =@DiagnosisID;
END;
GO
