USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatientNurse]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspSelectPatientNurse]
AS
BEGIN
SELECT p.FirstName, p.LastName, DOB,ReligionName,
		RaceName,CategoryName,
		GenderName,
	n.FirstName As NurseFirstName, 
	n.LastName As NurseLastName, LicenseNumber, 
	Specialty, HireDate, DateFrom, DateTo 
FROM PatientNurse pn 
JOIN Visit vs ON pn.VisitId = vs.VisitID 
JOIN Patient p
	ON vs.PatientId= p.PatientID 
Join PatientCategory pc 
	ON vs.PatientCategoryID = pc.PatientCategoryID 
JOIN Nurse n
	ON pn.NurseId= n.NurseId 
JOIN Religion r 
	ON p.ReligionID= r.ReligionID 
JOIN Gender g 
	ON p.GenderID= g.GenderID 
JOIN Race ra
	ON p.RaceID= ra.RaceID 
JOIn MaritalStatus m
	ON p.MaritalStatusID= m.MaritalStatusID;
END;
GO
