USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeletePatientAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Procedure [dbo].[uspDeletePatientAllergy]
	@PatientAllergyId int
AS
Delete from PatientAllergy
WHERE PatientAllergyId=@PatientAllergyId
GO
