USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectCNA]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSelectCNA]

AS
BEGIN

SELECT 
CNAID,	FirstName,	LastName,LicenseNumber,
PhoneNumber,	Email,	HireDate,	Specialty,
CreatedDate,	UpdatedDate 
FROM CNA;

END;
GO
