USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeletePrescription]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspDeletePrescription]
		@PrescriptionID int
AS
BEGIN
	Delete from Prescription
	WHERE PrescriptionID= @PrescriptionID;
END;
GO
