USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAppointment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertAppointment](
@PatientID	INT,
@PhysicianID INT,	
@AppointmentDate DATETIME,	
@Reason	 Varchar(255),
@AppStatusID	INT,
@Description Varchar(255)
)
AS
BEGIN

INSERT INTO Appointment( PatientID, PhysicianID, AppointmentDate,
			Reason, AppStatusID, Description, CreatedAt, UpdatedAt)
			Values(@PatientID,@PhysicianID,@AppointmentDate, @Reason,
			@AppStatusID, @Description, GetDate(), GetDate());

	END;


select * from Appointment
GO
