USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateArrivedBy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspUpdateArrivedBy]

    (
		@ArrivalID INT,
		@ArrivalMethod	 Varchar(50),	
		@Description Varchar(255)
	)

AS
BEGIN

Update ArrivedBy
SET
ArrivalMethod =@ArrivalMethod,
[Description] =@Description
WHERE ArrivalID = @ArrivalID;

END;
GO
