USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetCountingTables_Schema]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspGetCountingTables_Schema]

AS
	Begin
		SELECT COUNT(*) AS NumberOfTables
		FROM sys.tables
		WHERE schema_id = SCHEMA_ID('dbo');
		
	End;
GO
