USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAllergy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[uspDeleteAllergy]
	@AllergyId INT
As
	Delete from Allergy
	WHERE AllergyId=@AllergyId;
GO
