USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspPatientAppointmentDetails]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspPatientAppointmentDetails]

AS
BEGIN

SELECT pt.FirstName+ '  ' + pt.LastName AS 'Patient Name', 
	   ph.PhysicianFirstName + '  '+  ph.PhysicianLastName AS 'Physician Name',
	   ap.AppointmentDate, aps.AppStatusName, 
	   apr.ReminderType,apr.ReminderDate
	   
FROM Patient pt
JOIN Appointment ap ON pt.PatientID = ap.PatientID
JOIN AppointmentReminder apr ON apr.AppointmentID =ap.AppointmentID
JOIN AppointmentStatus aps ON ap.AppStatusID= aps.AppStatusID
JOIN Physician ph ON ap.PhysicianID = ph.PhysicianID;

END;

GO
