USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPtAdmServiceDetails]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspGetPtAdmServiceDetails]
	@PatientID INT = NULL,
    @FirstName  VARCHAR(50) = NULL,
    @LastName VARCHAR(50) = NULL,
    @ServiceName VARCHAR(100) = NULL,
    @AdmissionTypeName VARCHAR(100) = NULL,
    @SeverityLevel VARCHAR(50) = NULL
 AS
 BEGIN

 SELECT  
          pt.PatientID, pt.FirstName + '  '+ pt.LastName As 'Patient Full Name'
		  , ads. AdmServiceName
		  , adt.AdmissionTypeName
		  , s.SeverityLevel
	   FROM Patient pt JOIN Visit vs ON pt.PatientID = vs.PatientID
	  JOIN Admission ad ON vs.VisitID = ad.VisitID
	   JOIN AdmissionType adt ON ad.AdmissionTypeID = adt.AdmissionTypeID 
	   JOIN AdmissionService ads ON ad.AdmissionID = ads.AdmissionID
	   JOIN Severity s ON ad.SeverityID = s.SeverityID 
	   WHERE
			(@PatientID IS NULL OR pt.PatientID = @PatientID)
			AND (@FirstName IS NULL OR FirstName = @FirstName)
			AND (@LastName IS NULL OR LastName = @LastName)
			AND (@ServiceName IS NULL OR ads.AdmServiceName = @ServiceName)
			AND (@AdmissionTypeName IS NULL OR adt.AdmissionTypeName = @AdmissionTypeName)
			AND (@SeverityLevel IS NULL OR s.SeverityLevel = @SeverityLevel)
	  END;
GO
