USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetTotalPatientByState]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetTotalPatientByState]
AS
BEGIN
	SELECT City,[State],
	  COUNT(*) AS TotalPatientByState
	  From PatientAddress
	  GROUP BY [State], City
	  Order By
	 [State];
END;
GO
