USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAppointmentType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspInsertAppointmentType]
    (
		@AppTypeName	 Varchar(50),	
		@Description Varchar(255)
	)

AS
BEGIN

INSERT INTO AppointmentType(AppTypeName, [Description], CreatedAt)
	   Values(@AppTypeName, @Description,GetDate());
END;
GO
