USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertAdmission]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertAdmission]
    @VisitID INT,
    @AdmissionTypeID INT,
	@AdmissionDate Date,
	@DepartmentID INT,
	@BedID INT,
	@PhysicianID INT,
	@ArrivalID INT,
    @Description Varchar(255),
	@CreatedAt Datetime,
	@UpdatedAt DateTime,
	@PointOfOriginID INT,
	@SeverityID INT

AS
BEGIN

INSERT INTO Admission
(VisitID, AdmissionTypeID, AdmissionDate,DepartmentID, BedID, PhysicianID,ArrivalID, 
  [Description],CreatedAt, UpdatedAt, PointOfOriginID, SeverityID)

VALUES
(@VisitID, @AdmissionTypeID,@AdmissionDate, @DepartmentID,@BedID,
@PhysicianID, @ArrivalID,@Description,  GETDATE(), GETDATE(), @PointOfOriginID, @SeverityID);

END;
GO
