USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateMED_RecNo]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspUpdateMED_RecNo]
	@PatientID int,
	@MED_RecNo varchar(50)
	
AS
BEGIN
UPDATE dbo.Patient
SET MED_RecNo = @MED_RecNo
WHERE PatientId = @PatientID;
END;
GO
