USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertInpatient_2]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspInsertInpatient_2]
    @VisitId         INT,                        
    @BedID             INT,                       
    @GMLOS             VARCHAR(50),                         
    @Notes             VARCHAR(MAX),                        
    @PreopFlag         VARCHAR(50),                        
    @Telemetry         VARCHAR(50),                         
    @Allergies         VARCHAR(50),                         
    @NPO               VARCHAR(50),                         
    @DNR               VARCHAR(50),                         
    @Fall              VARCHAR(50),                        
    @PreopFlagVal      VARCHAR(50),                        
    @LegalStatusID     INT,                                 
    @LegalStatusColor  VARCHAR(50),                         
    @LegalStatusVal    VARCHAR(50),                        
    @SoundAlike        VARCHAR(50),                       
    @AdmitDate         VARCHAR(50),                         
    @DischargeDate     VARCHAR(50),                        
    @PCU               VARCHAR(50),                        
    @CountDownFromAdmit VARCHAR(50),                       
    @PsychiatristSeen  VARCHAR(50),                         
    @InternistSeen     VARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT * FROM Inpatient WHERE VisitId = @VisitId AND AdmitDate = @AdmitDate)
    BEGIN
        THROW 50001, 'Inpatient record already exists for this Patient and AdmitDate!', 1;
    END
	ELSE
    BEGIN
        INSERT INTO Inpatient
            (VisitId,BedID, GMLOS, Notes, PreopFlag, Telemetry, Allergies, NPO, DNR, Fall, 
             PreopFlagVal, LegalStatusID, LegalStatusColor, LegalStatusVal, SoundAlike, AdmitDate, 
             DischargeDate, PCU, CountDownFromAdmit, PsychiatristSeen, InternistSeen)
        VALUES
            (@VisitId, @BedID, @GMLOS, @Notes, @PreopFlag, @Telemetry, @Allergies, @NPO, @DNR, @Fall, 
             @PreopFlagVal, @LegalStatusID, @LegalStatusColor, @LegalStatusVal, @SoundAlike, @AdmitDate, 
             @DischargeDate, @PCU, @CountDownFromAdmit, @PsychiatristSeen, @InternistSeen);
    END
END;
GO
