USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePhysician]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdatePhysician] 
	 @PhysicianID INT,
	 @PhysicianFirstName   VARCHAR(50),     
    @PhysicianLastName    VARCHAR(50),     
    @SpecialtyID   INT,
	@DepartmentID INt,
    @Phone        VARCHAR(15),
    @Email       VARCHAR(100)
    

AS
BEGIN
Update Physician
SET PhysicianFirstName =@PhysicianFirstName,PhysicianLastName =@PhysicianLastName,
SpecialtyID= @SpecialtyID,Phone =@Phone,
Email =@Email
WHERE PhysicianID=@PhysicianID
END;
GO
