USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectPatientBilling]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspSelectPatientBilling]

AS
BEGIN
Select FirstName + ' '+ LastName As "Full Name",  
    PlanName, 
    ServiceName, 
    BillingTypeName,    
	StatusName,
	Discount,
    TotalAmount, 
    BillingDate,   
    BalanceAmount
FROM patient p

JOIN Visit vs
	ON P.PatientID = vs.PatientID 

JOIN Billing bl
	ON vs.VisitID = bl.VisitID 

JOIN BillingType bt
	ON bl.BillingTypeID = bt.BillingTypeID 

JOIN BillingPlan bp
	ON bl.PlanId = bp.PlanId 

JOIN BillingService bs
	ON bl.BillingID = bs.BillingID

JOIN BillingStatus bls
	ON bl.BillingStatusId = bls.BillingStatusID
	
 END;
GO
