USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteAppointmentType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteAppointmentType]
    @AppointmentTypeID INT
	
AS
BEGIN
   Delete from AppointmentType
	WHERE AppointmentTypeID=@AppointmentTypeID;
END;
GO
