USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertDiagnosis]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspInsertDiagnosis]
	@VisitID INT
	,@DiagnosisCode Varchar(20)
	,@DiagnosisDescription Varchar(255)
	,@DiagnosisDate  Datetime
AS

BEGIN
INSERT INTO Diagnosis
   (
	VisitID
	,DiagnosisCode
	,DiagnosisDescription
	,DiagnosisDate
    )
Values
  (
	 @VisitID
	,@DiagnosisCode
	,@DiagnosisDescription
	,@DiagnosisDate
  )
 
END;
GO
