USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspCalcPatientMaritalStatusByPercent]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspCalcPatientMaritalStatusByPercent]
AS
BEGIN
SELECT  
    MaritalStatusName,
    COUNT(*) AS TotalPatients,
    -- Calculate percentage
    CAST(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER() AS DECIMAL(5,2)) AS Percentage
FROM Patient pt
JOIN MaritalStatus ms ON pt.MaritalStatusID = ms.MaritalStatusID
--WHERE ms.MaritalStatusName IN ('Single', 'Married','Divorced','Widowed','Separated','Declined to Answer')
GROUP BY 
    ms.MaritalStatusName
ORDER BY TotalPatients DESC;
END;
GO
