USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspInsertInpatientAdmissionType]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspInsertInpatientAdmissionType]
    @AdmissionType AdmissionType READONLY
AS
BEGIN
    INSERT INTO InpatientAdmissionType
        SELECT * FROM @AdmissionType;
END;
GO
