USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspBulkUpdateMedication]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspBulkUpdateMedication]
    @MedicationUpdates MedicationUpdateType READONLY
AS
BEGIN
    UPDATE m
    SET 
        m.MedicationCategory = u.MedicationCategory,
        m.Manufacturer = u.Manufacturer,
        m.ExpirationDate = u.ExpirationDate
    FROM Medication m
    INNER JOIN @MedicationUpdates u
        ON m.MedicationId = u.MedicationId;
END
GO
