USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectBillingService]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspSelectBillingService]

 AS
 BEGIN
 SELECT BillingID, ServiceCategory, ServiceName,
		ServiceDate, Quantity,UnitCost,Discount,
		CreatedDate,UpdatedDate
FROM BillingService;
End;
GO
