USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeletePatient]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspDeletePatient]
    @PatientId int
AS
BEGIN
    -- Delete the patient record with the specified VisitId
    DELETE FROM dbo.Patient
    WHERE PatientId = @PatientId;
END;
GO
