USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdatePatientOthersID]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdatePatientOthersID]
    @PatientId INT,
    @ReligionID INT,
	@RaceID INT

AS
BEGIN

    -- Update the address
UPDATE dbo.Patient
SET ReligionID= @ReligionID ,
	RaceID =@RaceID  
WHERE PatientId = @PatientId;
END;
GO
