USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientDuplicateCount]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[uspGetPatientDuplicateCount]
AS
Begin
SELECT 
    FirstName,
   LastName,
    COUNT(*) AS DuplicateCount
FROM Patient
GROUP BY FirstName, LastName
HAVING COUNT(*) > 1
ORDER BY DuplicateCount DESC;
END;
GO
