USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateBed]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspUpdateBed](
@BedID INT,
@BedTypeId INT,	
@RoomNumber Varchar(10),	
@IsOccupied bit,	
@VisitId INT,	
@DateAssigned DATETIME,	
@DateReleased DATETIME,	
@Notes VARCHAR(MAX)
)

AS

BEGIN
UPDATE BED

SET 
	BedTypeId= @BedTypeId,	
	RoomNumber =@RoomNumber,	
	IsOccupied= @IsOccupied	,
	VisitId =@VisitId	,
	DateAssigned =@DateAssigned,	
	DateReleased =@DateReleased,	
	Notes =@Notes
WHERE BedID = @BedID;
END;
GO
