USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSelectDepartment]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSelectDepartment]
AS
BEGIN 
SELECT
	DepartmentCode	
	,DepartmentName	
	,SpecialtyID	
	,Phone	
	,CreatedAt	
	,UpdatedAt
FROM Department

END;
GO
