USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientByGenderNMarital]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetPatientByGenderNMarital]
AS
BEGIN
SELECT 
    g.GenderName,
    m.MaritalStatusName,
    COUNT(*) AS TotalPatients
FROM Gender g
JOIN Patient p ON p.GenderID = g.GenderID 
JOIN MaritalStatus m ON p.MaritalStatusID = m.MaritalStatusID
WHERE MaritalStatusName  IN ('Single', 'Married')
GROUP BY 
    g.GenderName,
    m.MaritalStatusName
ORDER BY TotalPatients DESC;

END;
GO
