USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspAllPatientDemoInfo]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspAllPatientDemoInfo] 

AS
BEGIN
Select  FirstName,LastName, DOB, MED_RecNo,GenderName,
       CellPhone,Email, MaritalStatusName,RaceName ReligionName, RankName, City, [State] 
FROM Patient pt JOIN Gender g
	ON pt.GenderID =g.GenderID JOIN PatientContact pc
	ON pt.PatientID = pc.PatientID JOIN MaritalStatus ms
	ON pt.MaritalStatusID = ms.MaritalStatusID JOIN Race ra
	ON pt.RaceID = ra.RaceID JOIN Religion re
	ON pt.ReligionID = re.ReligionID JOIN GuarantorRank gr
	ON pt.RankID = gr.RankID JOIN PatientAddress pa
	ON pa.PatientID = pt.PatientID;

END;
GO
