USE [PatientManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspDeleteArrivedBy]    Script Date: 4/3/2026 8:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[uspDeleteArrivedBy]
    @ArrivalID INT
	
AS
BEGIN
   Delete from ArrivedBy
	WHERE ArrivalID=@ArrivalID;
END;
GO
