USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetPatientAppointmentCount]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- – Total appointments of a patient
--SELECT PatientID, 
--	   dbo.ufn_GetPatientAppointmentCount(PatientID) AS TotalAppointments
--FROM Appointment
--GROUP BY PatientID
--Having Count(*) >1
--ORDER BY PatientID ASC;
CREATE FUNCTION [dbo].[ufn_GetPatientAppointmentCount]
(
    @PatientID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @TotalAppointments INT;

    SELECT @TotalAppointments = COUNT(*)
    FROM Appointment
    WHERE PatientID = @PatientID;

    RETURN @TotalAppointments;
END;

GO
