USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetPatientFullName]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_GetPatientFullName]
(
    @PatientID INT
)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @FullName NVARCHAR(200);

    SELECT @FullName = CONCAT(FirstName, ' ', LastName)
    FROM Patient
    WHERE PatientID = @PatientID;

    RETURN @FullName;
END;
GO
