USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTopPatientBalances]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnTopPatientBalances]
    (@CutOff money = 0)
    RETURNS table
RETURN
	SELECT FirstName+ ' '+ LastName AS FullName,CellPhone, SUM(BalanceAmount) AS TotalBalance
	FROM Patient pt
	  JOIN PatientContact pc ON pt.PatientID = pc.PatientID
	  JOIN Visit vs ON vs.PatientID = pt.PatientID
	  JOIN Billing bl ON vs.VisitID= bl.VisitID
	WHERE BalanceAmount > 0
	GROUP BY pt.FirstName, pt.LastName, pc.CellPhone
	HAVING SUM(BalanceAmount) >= @CutOff;
GO
