USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetNextAppointment]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Returns next upcoming appointment for a patient
--SELECT dbo.ufn_GetNextAppointment(579) AS NextAppointment;
CREATE FUNCTION [dbo].[ufn_GetNextAppointment]
(
    @PatientID INT
)
RETURNS DATETIME
AS
BEGIN
    DECLARE @NextAppt DATETIME;

    SELECT @NextAppt = MIN(AppointmentDate)
    FROM Appointment
    WHERE PatientID = @PatientID
      AND AppointmentDate >= GETDATE();  -- Only future appointments

    RETURN @NextAppt; -- Returns NULL if no upcoming appointment
END;
GO
