USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetPhysicianWorkload]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Returns total appointments for a physician in a date range
--SELECT dbo.ufn_GetPhysicianWorkload(101, '2026-04-01', '2026-04-30') AS AprilAppointments;
CREATE FUNCTION [dbo].[ufn_GetPhysicianWorkload]
(
    @PhysicianID INT,
    @StartDate DATE,
    @EndDate DATE
)
RETURNS INT
AS
BEGIN
    DECLARE @Workload INT;

    SELECT @Workload = COUNT(*)
    FROM Appointment
    WHERE PhysicianID = @PhysicianID
      AND AppointmentDate BETWEEN @StartDate AND @EndDate;

    RETURN @Workload;
END;
GO
