USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetInactivePatients]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Checks if a patient had no appointments in the last N months
--SELECT dbo.ufn_GetInactivePatients(579, 12) AS IsInactive;
CREATE FUNCTION [dbo].[ufn_GetInactivePatients]
(
    @PatientID INT,
    @Months INT = 12
)
RETURNS BIT
AS
BEGIN
    DECLARE @Inactive BIT;

    IF NOT EXISTS (
        SELECT 1
        FROM Appointment
        WHERE PatientID = @PatientID
          AND AppointmentDate >= DATEADD(MONTH, -@Months, GETDATE())
    )
        SET @Inactive = 1; -- Patient is inactive
    ELSE
        SET @Inactive = 0; -- Patient is active

    RETURN @Inactive;
END;
GO
