USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_IsPatientActive]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_IsPatientActive]
(
    @PatientID INT,
    @Months INT = 6
)
RETURNS BIT
AS
BEGIN
    DECLARE @IsActive BIT;

    IF EXISTS (
        SELECT 1
        FROM Appointment
        WHERE PatientID = @PatientID
          AND AppointmentDate >= DATEADD(MONTH, -@Months, GETDATE())
    )
        SET @IsActive = 1;
    ELSE
        SET @IsActive = 0;

    RETURN @IsActive;
END;
GO
