USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetPatientAge]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_GetPatientAge]
(
    @PatientID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @BirthDate DATE;
    DECLARE @Age INT;

    -- Get the patient's birth date
    SELECT @BirthDate = DOB
    FROM Patient
    WHERE PatientID = @PatientID;

    -- If no patient found, return NULL
    IF @BirthDate IS NULL
        RETURN NULL;

    -- Calculate age
    SET @Age = DATEDIFF(YEAR, @BirthDate, GETDATE());

    -- Adjust if birthday hasn't occurred yet this year
    IF MONTH(@BirthDate) > MONTH(GETDATE()) 
        OR (MONTH(@BirthDate) = MONTH(GETDATE()) AND DAY(@BirthDate) > DAY(GETDATE()))
    BEGIN
        SET @Age = @Age - 1;
    END

    RETURN @Age;
END;
GO
