USE [PatientManagementSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetPhysicianPatientCount]    Script Date: 4/3/2026 8:24:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--– Number of patients assigned to a physician
CREATE FUNCTION [dbo].[ufn_GetPhysicianPatientCount]
(
    @PhysicianID INT
)
RETURNS INT
AS
BEGIN
    DECLARE @PatientCount INT;

    SELECT @PatientCount = COUNT(DISTINCT PatientID)
    FROM Appointment
    WHERE PhysicianID = @PhysicianID;

    RETURN @PatientCount;
	--SELECT dbo.ufn_GetPhysicianPatientCount(101) AS TotalPatients;
END;
GO
