USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BedType]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedType](
	[BedTypeId] [int] IDENTITY(1,1) NOT NULL,
	[BedTypeName] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[DailyRate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BedTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BedType] ON 

INSERT [dbo].[BedType] ([BedTypeId], [BedTypeName], [Description], [DailyRate]) VALUES (1, N'Standard', N'Regular patient room bed', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[BedType] ([BedTypeId], [BedTypeName], [Description], [DailyRate]) VALUES (2, N'ICU', N'Intensive Care Unit bed with monitoring', CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[BedType] ([BedTypeId], [BedTypeName], [Description], [DailyRate]) VALUES (3, N'CCU', N'Cardiac Care Unit bed', CAST(1000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[BedType] OFF
GO
