USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PhysicianAssignment]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianAssignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[PhysicianID] [int] NOT NULL,
	[VisitID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhysicianAssignment] ON 

INSERT [dbo].[PhysicianAssignment] ([AssignmentID], [PhysicianID], [VisitID], [StartDate], [EndDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 101, 5, CAST(N'2024-01-10T08:00:00.000' AS DateTime), CAST(N'2024-01-10T16:00:00.000' AS DateTime), N'Morning shift', CAST(N'2024-01-05T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PhysicianAssignment] ([AssignmentID], [PhysicianID], [VisitID], [StartDate], [EndDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 102, 12, CAST(N'2024-01-11T09:00:00.000' AS DateTime), CAST(N'2024-01-11T17:00:00.000' AS DateTime), N'Observation', CAST(N'2024-01-06T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PhysicianAssignment] ([AssignmentID], [PhysicianID], [VisitID], [StartDate], [EndDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 103, 25, CAST(N'2024-01-12T10:00:00.000' AS DateTime), NULL, N'Ongoing care', CAST(N'2024-01-07T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PhysicianAssignment] OFF
GO
ALTER TABLE [dbo].[PhysicianAssignment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PhysicianAssignment]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[PhysicianAssignment]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
