USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Severity]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Severity](
	[SeverityID] [int] IDENTITY(1,1) NOT NULL,
	[SeverityLevel] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeverityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Severity] ON 

INSERT [dbo].[Severity] ([SeverityID], [SeverityLevel], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Level 1 - Resuscitation', N'Immediate life saving intervention', NULL, NULL)
INSERT [dbo].[Severity] ([SeverityID], [SeverityLevel], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Level 2 - Emergency', N'High risk condition', NULL, NULL)
INSERT [dbo].[Severity] ([SeverityID], [SeverityLevel], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Level 3 - Urgent', N'Serious but stable', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Severity] OFF
GO
