USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Specialty]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialty](
	[SpecialtyID] [int] IDENTITY(1,1) NOT NULL,
	[SpecialtyName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecialtyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Specialty] ON 

INSERT [dbo].[Specialty] ([SpecialtyID], [SpecialtyName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Cardiology', N'Heart and vascular care', CAST(N'2026-03-16T10:58:39.873' AS DateTime), CAST(N'2025-02-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Specialty] ([SpecialtyID], [SpecialtyName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Neurology', N'Brain and nervous system care', CAST(N'2026-03-16T10:58:39.873' AS DateTime), CAST(N'2024-11-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Specialty] ([SpecialtyID], [SpecialtyName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Orthopedics', N'Bones, joints, and muscles', CAST(N'2026-03-16T10:58:39.873' AS DateTime), CAST(N'2025-05-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Specialty] OFF
GO
ALTER TABLE [dbo].[Specialty] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
