USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Internist]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internist](
	[InternistId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[LicenseNumber] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[HireDate] [datetime] NOT NULL,
	[Specialty] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InternistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Internist] ON 

INSERT [dbo].[Internist] ([InternistId], [FirstName], [LastName], [LicenseNumber], [PhoneNumber], [Email], [HireDate], [Specialty], [CreatedDate], [UpdatedDate]) VALUES (1, N'Noah', N'Davis', N'INT-2001', N'303-555-2010', N'noah.davis@hospital.com', CAST(N'2015-03-10T00:00:00.000' AS DateTime), N'Cardiology', CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Internist] ([InternistId], [FirstName], [LastName], [LicenseNumber], [PhoneNumber], [Email], [HireDate], [Specialty], [CreatedDate], [UpdatedDate]) VALUES (2, N'Ava', N'Miller', N'INT-2002', N'303-555-2020', N'ava.miller@hospital.com', CAST(N'2018-07-25T00:00:00.000' AS DateTime), N'Endocrinology', CAST(N'2023-02-15T00:00:00.000' AS DateTime), CAST(N'2023-02-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Internist] ([InternistId], [FirstName], [LastName], [LicenseNumber], [PhoneNumber], [Email], [HireDate], [Specialty], [CreatedDate], [UpdatedDate]) VALUES (3, N'Ethan', N'Wilson', N'INT-2003', N'303-555-2030', N'ethan.wilson@hospital.com', CAST(N'2020-11-12T00:00:00.000' AS DateTime), N'Gastroenterology', CAST(N'2023-03-05T00:00:00.000' AS DateTime), CAST(N'2023-03-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Internist] OFF
GO
ALTER TABLE [dbo].[Internist] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Internist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
