USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PhysicianSchedule]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicianSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[PhysicianID] [int] NOT NULL,
	[DayOfWeek] [varchar](20) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhysicianSchedule] ON 

INSERT [dbo].[PhysicianSchedule] ([ScheduleID], [PhysicianID], [DayOfWeek], [StartTime], [EndTime], [CreatedAt]) VALUES (1, 1, N'Monday', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'2026-03-16T18:53:00.413' AS DateTime))
INSERT [dbo].[PhysicianSchedule] ([ScheduleID], [PhysicianID], [DayOfWeek], [StartTime], [EndTime], [CreatedAt]) VALUES (2, 2, N'Monday', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'2026-03-16T18:53:00.413' AS DateTime))
INSERT [dbo].[PhysicianSchedule] ([ScheduleID], [PhysicianID], [DayOfWeek], [StartTime], [EndTime], [CreatedAt]) VALUES (3, 1, N'Monday', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'2026-03-16T19:31:55.993' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PhysicianSchedule] OFF
GO
ALTER TABLE [dbo].[PhysicianSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PhysicianSchedule]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[PhysicianSchedule]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[PhysicianSchedule]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[PhysicianSchedule]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
