USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[RaceID] [int] IDENTITY(1,1) NOT NULL,
	[RaceName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Race] ON 

INSERT [dbo].[Race] ([RaceID], [RaceName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'White', N'Person having origins in Europe or Middle East', CAST(N'2026-03-13T20:29:59.487' AS DateTime), NULL)
INSERT [dbo].[Race] ([RaceID], [RaceName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Black or African American', N'Origins in African racial groups', CAST(N'2026-03-13T20:29:59.487' AS DateTime), NULL)
INSERT [dbo].[Race] ([RaceID], [RaceName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Asian', N'Origins in Far East, Southeast Asia, Indian subcontinent', CAST(N'2026-03-13T20:29:59.487' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Race] OFF
GO
ALTER TABLE [dbo].[Race] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
