USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[AppointmentType]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentType](
	[AppointmentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AppTypeName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentType] ON 

INSERT [dbo].[AppointmentType] ([AppointmentTypeID], [AppTypeName], [Description], [CreatedAt]) VALUES (1, N'New Patient', N'First-time patient visit', CAST(N'2026-03-16T10:58:39.897' AS DateTime))
INSERT [dbo].[AppointmentType] ([AppointmentTypeID], [AppTypeName], [Description], [CreatedAt]) VALUES (2, N'Follow-Up', N'Follow-up visit after initial consultation', CAST(N'2026-03-16T10:58:39.897' AS DateTime))
INSERT [dbo].[AppointmentType] ([AppointmentTypeID], [AppTypeName], [Description], [CreatedAt]) VALUES (3, N'Consultation', N'Specialist consultation appointment', CAST(N'2026-03-16T10:58:39.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[AppointmentType] OFF
GO
ALTER TABLE [dbo].[AppointmentType] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
