USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[FinancialClass]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialClass](
	[FinancialClassID] [int] IDENTITY(1,1) NOT NULL,
	[FinancialClassName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FinancialClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FinancialClass] ON 

INSERT [dbo].[FinancialClass] ([FinancialClassID], [FinancialClassName], [Description], [CreatedAt], [UpdatedDate]) VALUES (1, N'Insurance', N'Patient covered by an insurance plan', CAST(N'2026-03-16T11:04:31.183' AS DateTime), CAST(N'2025-03-15T00:00:00.000' AS DateTime))
INSERT [dbo].[FinancialClass] ([FinancialClassID], [FinancialClassName], [Description], [CreatedAt], [UpdatedDate]) VALUES (2, N'Self-Pay', N'Patient pays out-of-pocket', CAST(N'2026-03-16T11:04:31.183' AS DateTime), CAST(N'2024-11-10T00:00:00.000' AS DateTime))
INSERT [dbo].[FinancialClass] ([FinancialClassID], [FinancialClassName], [Description], [CreatedAt], [UpdatedDate]) VALUES (3, N'Medicare', N'Government Medicare coverage', CAST(N'2026-03-16T11:04:31.183' AS DateTime), CAST(N'2025-01-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[FinancialClass] OFF
GO
ALTER TABLE [dbo].[FinancialClass] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
