USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabInventory]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabInventory](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](100) NULL,
	[QuantityInStock] [int] NULL,
	[ReorderLevel] [int] NULL,
	[Description] [varchar](255) NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabInventory] ON 

INSERT [dbo].[LabInventory] ([ItemID], [ItemName], [QuantityInStock], [ReorderLevel], [Description], [LastUpdated]) VALUES (1, N'Microscope Slides', 500, 100, N'Glass slides for lab analysis', CAST(N'2023-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[LabInventory] ([ItemID], [ItemName], [QuantityInStock], [ReorderLevel], [Description], [LastUpdated]) VALUES (2, N'Test Tubes', 1000, 200, N'Standard 15ml and 50ml test tubes', CAST(N'2023-03-02T00:00:00.000' AS DateTime))
INSERT [dbo].[LabInventory] ([ItemID], [ItemName], [QuantityInStock], [ReorderLevel], [Description], [LastUpdated]) VALUES (3, N'Gloves (Latex)', 2000, 500, N'Disposable latex gloves', CAST(N'2023-03-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LabInventory] OFF
GO
