USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabOrder]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabOrder](
	[LabOrderID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[PhysicianID] [int] NULL,
	[LabTestID] [int] NOT NULL,
	[TestPriority] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[TotalPrice]  AS ([Quantity]*[Price]),
	[OrderDate] [datetime] NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LabOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabOrder] ON 

INSERT [dbo].[LabOrder] ([LabOrderID], [VisitID], [PhysicianID], [LabTestID], [TestPriority], [Status], [Quantity], [Price], [OrderDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 861, 215, 3, N'Stat', N'Cancelled', 2, CAST(170.00 AS Decimal(10, 2)), CAST(N'2023-01-28T00:00:00.000' AS DateTime), N'Routine lab check', CAST(N'2023-05-28T00:00:00.000' AS DateTime), CAST(N'2023-08-12T00:00:00.000' AS DateTime))
INSERT [dbo].[LabOrder] ([LabOrderID], [VisitID], [PhysicianID], [LabTestID], [TestPriority], [Status], [Quantity], [Price], [OrderDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 1166, 65, 1, N'Stat', N'Completed', 1, CAST(165.00 AS Decimal(10, 2)), CAST(N'2023-01-26T00:00:00.000' AS DateTime), N'General lab investigation', CAST(N'2024-02-14T00:00:00.000' AS DateTime), CAST(N'2023-01-06T00:00:00.000' AS DateTime))
INSERT [dbo].[LabOrder] ([LabOrderID], [VisitID], [PhysicianID], [LabTestID], [TestPriority], [Status], [Quantity], [Price], [OrderDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 211, 18, 17, N'Routine', N'In Progress', 2, CAST(148.00 AS Decimal(10, 2)), CAST(N'2024-11-02T00:00:00.000' AS DateTime), N'Routine lab check', CAST(N'2023-05-13T00:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[LabOrder] OFF
GO
ALTER TABLE [dbo].[LabOrder] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[LabOrder] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[LabOrder] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabOrder]  WITH CHECK ADD FOREIGN KEY([LabTestID])
REFERENCES [dbo].[LabTest] ([LabTestID])
GO
ALTER TABLE [dbo].[LabOrder]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[LabOrder]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[LabOrder]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[LabOrder]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[LabOrder]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
