USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[DischargeService]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DischargeService](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DischargeService] ON 

INSERT [dbo].[DischargeService] ([ServiceID], [ServiceName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Discharge Counseling', N'Patient counseling and instructions at discharge', CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[DischargeService] ([ServiceID], [ServiceName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Medication Instructions', N'Detailed guidance on medications post-discharge', CAST(N'2023-03-22T00:00:00.000' AS DateTime), CAST(N'2023-03-22T00:00:00.000' AS DateTime))
INSERT [dbo].[DischargeService] ([ServiceID], [ServiceName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Transport Service', N'Arrange transportation for patient from hospital', CAST(N'2023-05-15T00:00:00.000' AS DateTime), CAST(N'2023-05-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DischargeService] OFF
GO
