USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientAllergy]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAllergy](
	[PatientAllergyId] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[AllergyId] [int] NOT NULL,
	[DateDiagnosed] [datetime] NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientAllergyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientAllergy]  WITH CHECK ADD FOREIGN KEY([AllergyId])
REFERENCES [dbo].[Allergy] ([AllergyId])
GO
ALTER TABLE [dbo].[PatientAllergy]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
