USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[VisitCode]  AS ('VIS-'+right('00000'+CONVERT([varchar](10),[VisitID]),(5))),
	[PatientID] [int] NOT NULL,
	[DepartmentID] [int] NULL,
	[PhysicianID] [int] NULL,
	[PatientCategoryID] [int] NULL,
	[AppointmentID] [int] NULL,
	[VisitDate] [datetime] NULL,
	[VisitType] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Visit] ON 

INSERT [dbo].[Visit] ([VisitID], [PatientID], [DepartmentID], [PhysicianID], [PatientCategoryID], [AppointmentID], [VisitDate], [VisitType], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 10, 1, 5, 1, 1, CAST(N'2026-03-20T09:05:00.000' AS DateTime), N'Outpatient', N'Completed', N'Routine checkup', CAST(N'2026-03-17T09:20:46.400' AS DateTime), NULL)
INSERT [dbo].[Visit] ([VisitID], [PatientID], [DepartmentID], [PhysicianID], [PatientCategoryID], [AppointmentID], [VisitDate], [VisitType], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 25, 2, 8, 2, 2, CAST(N'2026-03-20T10:10:00.000' AS DateTime), N'Outpatient', N'Completed', N'Fever symptoms', CAST(N'2026-03-17T09:20:46.400' AS DateTime), NULL)
INSERT [dbo].[Visit] ([VisitID], [PatientID], [DepartmentID], [PhysicianID], [PatientCategoryID], [AppointmentID], [VisitDate], [VisitType], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 40, 3, 12, 1, 3, CAST(N'2026-03-20T11:20:00.000' AS DateTime), N'Outpatient', N'Completed', N'Follow-up visit', CAST(N'2026-03-17T09:20:46.400' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Visit] OFF
GO
ALTER TABLE [dbo].[Visit] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD FOREIGN KEY([PatientCategoryID])
REFERENCES [dbo].[PatientCategory] ([PatientCategoryID])
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
