USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[AdmissionType]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionType](
	[AdmissionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionTypeName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmissionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdmissionType] ON 

INSERT [dbo].[AdmissionType] ([AdmissionTypeID], [AdmissionTypeName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Emergency', N'Admission due to urgent medical condition', CAST(N'2026-03-16T10:58:39.900' AS DateTime), CAST(N'2024-11-15T00:00:00.000' AS DateTime))
INSERT [dbo].[AdmissionType] ([AdmissionTypeID], [AdmissionTypeName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Elective', N'Planned admission for procedures', CAST(N'2026-03-16T10:58:39.900' AS DateTime), CAST(N'2024-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[AdmissionType] ([AdmissionTypeID], [AdmissionTypeName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Observation', N'Short-term monitoring admission', CAST(N'2026-03-16T10:58:39.900' AS DateTime), CAST(N'2025-01-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdmissionType] OFF
GO
ALTER TABLE [dbo].[AdmissionType] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
