USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientAddress]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAddress](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[AddressLine1] [varchar](150) NULL,
	[AddressLine2] [varchar](150) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[ZipCode] [varchar](20) NULL,
	[Country] [varchar](100) NULL,
	[AddressType] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientAddress] ON 

INSERT [dbo].[PatientAddress] ([AddressID], [PatientID], [AddressLine1], [AddressLine2], [City], [State], [ZipCode], [Country], [AddressType], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'245 Oak St', N'Apt 2', N'Lakewood', N'Texas', N'89004', N'USA', N'Home', CAST(N'2026-03-16T09:28:26.400' AS DateTime), CAST(N'2026-03-16T09:28:26.400' AS DateTime))
INSERT [dbo].[PatientAddress] ([AddressID], [PatientID], [AddressLine1], [AddressLine2], [City], [State], [ZipCode], [Country], [AddressType], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'100 Main St', NULL, N'Denver', N'Colorado', N'86366', N'USA', NULL, CAST(N'2026-03-16T09:28:26.400' AS DateTime), CAST(N'2026-03-16T09:28:26.400' AS DateTime))
INSERT [dbo].[PatientAddress] ([AddressID], [PatientID], [AddressLine1], [AddressLine2], [City], [State], [ZipCode], [Country], [AddressType], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'777 Lake View', N'Apt 1', N'Denver', N'Florida', N'86666', N'USA', N'Home', CAST(N'2026-03-16T09:28:26.400' AS DateTime), CAST(N'2026-03-16T09:28:26.400' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PatientAddress] OFF
GO
ALTER TABLE [dbo].[PatientAddress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
