USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[BedId] [int] IDENTITY(1,1) NOT NULL,
	[BedTypeId] [int] NOT NULL,
	[RoomNumber] [varchar](10) NOT NULL,
	[IsOccupied] [bit] NOT NULL,
	[VisitId] [int] NULL,
	[DateAssigned] [datetime] NULL,
	[DateReleased] [datetime] NULL,
	[Notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bed] ON 

INSERT [dbo].[Bed] ([BedId], [BedTypeId], [RoomNumber], [IsOccupied], [VisitId], [DateAssigned], [DateReleased], [Notes]) VALUES (1, 3, N'101', 1, 12, CAST(N'2023-05-12T00:00:00.000' AS DateTime), CAST(N'2023-05-15T00:00:00.000' AS DateTime), N'Under observation')
INSERT [dbo].[Bed] ([BedId], [BedTypeId], [RoomNumber], [IsOccupied], [VisitId], [DateAssigned], [DateReleased], [Notes]) VALUES (2, 1, N'102', 0, 45, CAST(N'2023-07-02T00:00:00.000' AS DateTime), NULL, N'Stable')
INSERT [dbo].[Bed] ([BedId], [BedTypeId], [RoomNumber], [IsOccupied], [VisitId], [DateAssigned], [DateReleased], [Notes]) VALUES (3, 5, N'103', 1, 78, CAST(N'2023-08-20T00:00:00.000' AS DateTime), CAST(N'2023-08-23T00:00:00.000' AS DateTime), N'Transferred to ICU')
GO
SET IDENTITY_INSERT [dbo].[Bed] OFF
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([BedTypeId])
REFERENCES [dbo].[BedType] ([BedTypeId])
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([BedTypeId])
REFERENCES [dbo].[BedType] ([BedTypeId])
GO
