USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[DischargeStatus]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DischargeStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DischargeStatus] ON 

INSERT [dbo].[DischargeStatus] ([StatusID], [StatusName], [Description], [CreatedAt]) VALUES (1, N'Completed', N'Discharge process completed successfully', CAST(N'2026-03-16T11:10:46.917' AS DateTime))
INSERT [dbo].[DischargeStatus] ([StatusID], [StatusName], [Description], [CreatedAt]) VALUES (2, N'Pending', N'Discharge scheduled but not completed', CAST(N'2026-03-16T11:10:46.917' AS DateTime))
INSERT [dbo].[DischargeStatus] ([StatusID], [StatusName], [Description], [CreatedAt]) VALUES (3, N'Transferred', N'Patient transferred to another facility', CAST(N'2026-03-16T11:10:46.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[DischargeStatus] OFF
GO
ALTER TABLE [dbo].[DischargeStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
