USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BillingType]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingType](
	[BillingTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BillingTypeName] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillingType] ON 

INSERT [dbo].[BillingType] ([BillingTypeID], [BillingTypeName], [Description], [CreatedDate], [UpdatedDate]) VALUES (1, N'Inpatient', N'Billing for patients admitted to hospital', CAST(N'2026-03-16T11:04:31.197' AS DateTime), CAST(N'2025-01-20T00:00:00.000' AS DateTime))
INSERT [dbo].[BillingType] ([BillingTypeID], [BillingTypeName], [Description], [CreatedDate], [UpdatedDate]) VALUES (2, N'Outpatient', N'Billing for patients visiting for consultations or tests', CAST(N'2026-03-16T11:04:31.197' AS DateTime), CAST(N'2024-11-25T00:00:00.000' AS DateTime))
INSERT [dbo].[BillingType] ([BillingTypeID], [BillingTypeName], [Description], [CreatedDate], [UpdatedDate]) VALUES (3, N'Emergency', N'Billing for ER visits', CAST(N'2026-03-16T11:04:31.197' AS DateTime), CAST(N'2025-02-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BillingType] OFF
GO
ALTER TABLE [dbo].[BillingType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
