USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BillingStatus]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingStatus](
	[BillingStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillingStatus] ON 

INSERT [dbo].[BillingStatus] ([BillingStatusID], [StatusName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Pending', N'Invoice has been issued but not yet paid', CAST(N'2026-03-16T11:04:31.190' AS DateTime), CAST(N'2025-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[BillingStatus] ([BillingStatusID], [StatusName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Paid', N'Invoice fully paid', CAST(N'2026-03-16T11:04:31.190' AS DateTime), CAST(N'2025-02-18T00:00:00.000' AS DateTime))
INSERT [dbo].[BillingStatus] ([BillingStatusID], [StatusName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Partially Paid', N'Invoice partially paid', CAST(N'2026-03-16T11:04:31.190' AS DateTime), CAST(N'2024-12-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BillingStatus] OFF
GO
ALTER TABLE [dbo].[BillingStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
