USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Admission]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admission](
	[AdmissionID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[AdmissionTypeID] [int] NOT NULL,
	[AdmissionDate] [datetime] NOT NULL,
	[DepartmentID] [int] NULL,
	[BedID] [int] NULL,
	[PhysicianID] [int] NULL,
	[ArrivalID] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[PointOfOriginID] [int] NULL,
	[SeverityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admission] ON 

INSERT [dbo].[Admission] ([AdmissionID], [VisitID], [AdmissionTypeID], [AdmissionDate], [DepartmentID], [BedID], [PhysicianID], [ArrivalID], [Description], [CreatedAt], [UpdatedAt], [PointOfOriginID], [SeverityID]) VALUES (1, 101, 1, CAST(N'2024-03-12T00:00:00.000' AS DateTime), 5, 22, 120, N'2', N'Routine admission', CAST(N'2023-06-01T00:00:00.000' AS DateTime), NULL, 3, 2)
INSERT [dbo].[Admission] ([AdmissionID], [VisitID], [AdmissionTypeID], [AdmissionDate], [DepartmentID], [BedID], [PhysicianID], [ArrivalID], [Description], [CreatedAt], [UpdatedAt], [PointOfOriginID], [SeverityID]) VALUES (2, 205, 3, CAST(N'2025-07-19T00:00:00.000' AS DateTime), 12, 45, 88, N'1', N'Emergency case', CAST(N'2024-01-11T00:00:00.000' AS DateTime), CAST(N'2024-01-15T00:00:00.000' AS DateTime), 2, 4)
INSERT [dbo].[Admission] ([AdmissionID], [VisitID], [AdmissionTypeID], [AdmissionDate], [DepartmentID], [BedID], [PhysicianID], [ArrivalID], [Description], [CreatedAt], [UpdatedAt], [PointOfOriginID], [SeverityID]) VALUES (3, 333, 2, CAST(N'2023-11-02T00:00:00.000' AS DateTime), 8, 11, 200, N'3', N'Under observation', CAST(N'2023-02-10T00:00:00.000' AS DateTime), NULL, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[Admission] OFF
GO
ALTER TABLE [dbo].[Admission] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([AdmissionTypeID])
REFERENCES [dbo].[AdmissionType] ([AdmissionTypeID])
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed] ([BedId])
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
