USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientInsurance]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientInsurance](
	[PatientInsuranceID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[ProviderID] [int] NOT NULL,
	[PolicyNumber] [varchar](50) NULL,
	[GroupNumber] [varchar](50) NULL,
	[PlanName] [varchar](100) NULL,
	[CoverageType] [varchar](50) NULL,
	[PolicyHolderName] [varchar](100) NULL,
	[RelationshipToPatient] [varchar](50) NULL,
	[EffectiveDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[CopayAmount] [decimal](10, 2) NULL,
	[Deductible] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientInsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientInsurance] ON 

INSERT [dbo].[PatientInsurance] ([PatientInsuranceID], [PatientID], [ProviderID], [PolicyNumber], [GroupNumber], [PlanName], [CoverageType], [PolicyHolderName], [RelationshipToPatient], [EffectiveDate], [ExpirationDate], [CopayAmount], [Deductible], [IsActive], [CreatedAt]) VALUES (1, 1, 9, N'POL000001', N'GRP7964', N'Gold Plan', NULL, N'PolicyHolder 1', N'Spouse', CAST(N'2010-08-06' AS Date), CAST(N'2014-06-20' AS Date), CAST(11.00 AS Decimal(10, 2)), CAST(888.00 AS Decimal(10, 2)), 1, CAST(N'2026-03-16T16:03:10.423' AS DateTime))
INSERT [dbo].[PatientInsurance] ([PatientInsuranceID], [PatientID], [ProviderID], [PolicyNumber], [GroupNumber], [PlanName], [CoverageType], [PolicyHolderName], [RelationshipToPatient], [EffectiveDate], [ExpirationDate], [CopayAmount], [Deductible], [IsActive], [CreatedAt]) VALUES (2, 2, 5, N'POL000002', N'GRP3162', N'Basic Health', N'Secondary', N'PolicyHolder 2', N'Parent', CAST(N'2007-12-27' AS Date), CAST(N'2015-01-29' AS Date), CAST(24.00 AS Decimal(10, 2)), CAST(1771.00 AS Decimal(10, 2)), 1, CAST(N'2026-03-16T16:03:10.423' AS DateTime))
INSERT [dbo].[PatientInsurance] ([PatientInsuranceID], [PatientID], [ProviderID], [PolicyNumber], [GroupNumber], [PlanName], [CoverageType], [PolicyHolderName], [RelationshipToPatient], [EffectiveDate], [ExpirationDate], [CopayAmount], [Deductible], [IsActive], [CreatedAt]) VALUES (3, 3, 5, N'POL000003', N'GRP1979', N'Basic Health', N'Family', N'PolicyHolder 3', NULL, CAST(N'2021-12-26' AS Date), CAST(N'2005-09-15' AS Date), CAST(14.00 AS Decimal(10, 2)), CAST(555.00 AS Decimal(10, 2)), 1, CAST(N'2026-03-16T16:03:10.423' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PatientInsurance] OFF
GO
ALTER TABLE [dbo].[PatientInsurance] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PatientInsurance] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PatientInsurance]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[PatientInsurance]  WITH CHECK ADD FOREIGN KEY([ProviderID])
REFERENCES [dbo].[InsuranceProviders] ([ProviderID])
GO
