USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabResult]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabResult](
	[LabResultID] [int] IDENTITY(1,1) NOT NULL,
	[LabOrderID] [int] NOT NULL,
	[TechnicianID] [int] NULL,
	[ResultValue] [varchar](100) NULL,
	[Units] [varchar](50) NULL,
	[ReferenceRange] [varchar](100) NULL,
	[ResultDate] [datetime] NULL,
	[VerificationStatus] [varchar](50) NULL,
	[Remarks] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LabResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabResult] ON 

INSERT [dbo].[LabResult] ([LabResultID], [LabOrderID], [TechnicianID], [ResultValue], [Units], [ReferenceRange], [ResultDate], [VerificationStatus], [Remarks], [CreatedAt]) VALUES (1, 48, 7, N'15', N'IU/L', N'135-145', CAST(N'2023-06-28T00:00:00.000' AS DateTime), N'Verified', N'Normal result', CAST(N'2025-02-02T00:00:00.000' AS DateTime))
INSERT [dbo].[LabResult] ([LabResultID], [LabOrderID], [TechnicianID], [ResultValue], [Units], [ReferenceRange], [ResultDate], [VerificationStatus], [Remarks], [CreatedAt]) VALUES (2, 23, 11, N'53', N'g/dL', N'4000-11000', CAST(N'2024-05-06T00:00:00.000' AS DateTime), N'Pending', N'Requires physician review', CAST(N'2023-01-25T00:00:00.000' AS DateTime))
INSERT [dbo].[LabResult] ([LabResultID], [LabOrderID], [TechnicianID], [ResultValue], [Units], [ReferenceRange], [ResultDate], [VerificationStatus], [Remarks], [CreatedAt]) VALUES (3, 189, 16, N'113', N'cells/mcL', N'10-40', CAST(N'2025-04-29T00:00:00.000' AS DateTime), N'Rejected', N'Below normal range', CAST(N'2025-03-21T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LabResult] OFF
GO
ALTER TABLE [dbo].[LabResult] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD FOREIGN KEY([LabOrderID])
REFERENCES [dbo].[LabOrder] ([LabOrderID])
GO
ALTER TABLE [dbo].[LabResult]  WITH CHECK ADD FOREIGN KEY([LabOrderID])
REFERENCES [dbo].[LabOrder] ([LabOrderID])
GO
