USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientInternist]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientInternist](
	[PatientInternistId] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[InternistId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientInternistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientInternist] ON 

INSERT [dbo].[PatientInternist] ([PatientInternistId], [VisitId], [InternistId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (1, 61, 1, CAST(N'2022-01-10T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.780' AS DateTime), NULL)
INSERT [dbo].[PatientInternist] ([PatientInternistId], [VisitId], [InternistId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (2, 62, 2, CAST(N'2022-02-15T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.780' AS DateTime), NULL)
INSERT [dbo].[PatientInternist] ([PatientInternistId], [VisitId], [InternistId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (3, 63, 3, CAST(N'2022-03-20T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.780' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PatientInternist] OFF
GO
ALTER TABLE [dbo].[PatientInternist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientInternist]  WITH CHECK ADD FOREIGN KEY([InternistId])
REFERENCES [dbo].[Internist] ([InternistId])
GO
ALTER TABLE [dbo].[PatientInternist]  WITH CHECK ADD FOREIGN KEY([InternistId])
REFERENCES [dbo].[Internist] ([InternistId])
GO
ALTER TABLE [dbo].[PatientInternist]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
