USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NULL,
	[PhysicianID] [int] NULL,
	[VisitDate] [datetime] NULL,
	[Diagnosis] [varchar](200) NULL,
	[Treatment] [varchar](200) NULL,
	[Notes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([RecordID], [VisitID], [PhysicianID], [VisitDate], [Diagnosis], [Treatment], [Notes]) VALUES (1, 657, 68, CAST(N'2023-10-22T00:00:00.000' AS DateTime), N'Skin Infection', N'Wound care and observation', N'Patient observed and treated accordingly.')
INSERT [dbo].[MedicalRecords] ([RecordID], [VisitID], [PhysicianID], [VisitDate], [Diagnosis], [Treatment], [Notes]) VALUES (2, 1117, 236, CAST(N'2023-12-08T00:00:00.000' AS DateTime), N'Skin Infection', N'Wound care and observation', N'Patient observed and treated accordingly.')
INSERT [dbo].[MedicalRecords] ([RecordID], [VisitID], [PhysicianID], [VisitDate], [Diagnosis], [Treatment], [Notes]) VALUES (3, 1430, 41, CAST(N'2025-06-20T00:00:00.000' AS DateTime), N'Fracture', N'Cast immobilization', N'Patient observed and treated accordingly.')
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
