USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[DischargeDestination]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DischargeDestination](
	[DestinationID] [int] IDENTITY(1,1) NOT NULL,
	[DestinationName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DestinationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DischargeDestination] ON 

INSERT [dbo].[DischargeDestination] ([DestinationID], [DestinationName], [Description], [CreatedAt]) VALUES (1, N'Home', N'Patient discharged to their own home', CAST(N'2026-03-16T11:10:46.913' AS DateTime))
INSERT [dbo].[DischargeDestination] ([DestinationID], [DestinationName], [Description], [CreatedAt]) VALUES (2, N'Skilled Nursing Facility', N'Patient transferred to SNF for continued care', CAST(N'2026-03-16T11:10:46.913' AS DateTime))
INSERT [dbo].[DischargeDestination] ([DestinationID], [DestinationName], [Description], [CreatedAt]) VALUES (3, N'Rehabilitation Center', N'Patient sent to rehab for therapy', CAST(N'2026-03-16T11:10:46.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[DischargeDestination] OFF
GO
ALTER TABLE [dbo].[DischargeDestination] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
