USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientNurse]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNurse](
	[PatientNurseId] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[NurseId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientNurseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientNurse] ON 

INSERT [dbo].[PatientNurse] ([PatientNurseId], [VisitId], [NurseId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (1, 61, 1, CAST(N'2022-01-15T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.707' AS DateTime), NULL)
INSERT [dbo].[PatientNurse] ([PatientNurseId], [VisitId], [NurseId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (2, 62, 2, CAST(N'2022-02-01T00:00:00.000' AS DateTime), CAST(N'2022-02-28T00:00:00.000' AS DateTime), CAST(N'2024-11-20T09:46:45.707' AS DateTime), NULL)
INSERT [dbo].[PatientNurse] ([PatientNurseId], [VisitId], [NurseId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (3, 62, 3, CAST(N'2022-03-05T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.707' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PatientNurse] OFF
GO
ALTER TABLE [dbo].[PatientNurse] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientNurse]  WITH CHECK ADD FOREIGN KEY([NurseId])
REFERENCES [dbo].[Nurse] ([NurseId])
GO
ALTER TABLE [dbo].[PatientNurse]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
