USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[AppointmentReminder]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentReminder](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[ReminderType] [varchar](50) NULL,
	[ReminderDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentReminder] ON 

INSERT [dbo].[AppointmentReminder] ([ReminderID], [AppointmentID], [ReminderType], [ReminderDate], [Status], [CreatedAt]) VALUES (1, 1, N'SMS', CAST(N'2026-04-09T08:00:00.000' AS DateTime), N'Pending', CAST(N'2026-03-16T20:02:05.543' AS DateTime))
INSERT [dbo].[AppointmentReminder] ([ReminderID], [AppointmentID], [ReminderType], [ReminderDate], [Status], [CreatedAt]) VALUES (2, 2, N'Email', CAST(N'2026-04-09T08:30:00.000' AS DateTime), N'Sent', CAST(N'2026-03-16T20:02:05.543' AS DateTime))
INSERT [dbo].[AppointmentReminder] ([ReminderID], [AppointmentID], [ReminderType], [ReminderDate], [Status], [CreatedAt]) VALUES (3, 3, N'Phone', CAST(N'2026-04-09T09:00:00.000' AS DateTime), N'Pending', CAST(N'2026-03-16T20:02:05.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[AppointmentReminder] OFF
GO
ALTER TABLE [dbo].[AppointmentReminder] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppointmentReminder]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[AppointmentReminder]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointment] ([AppointmentID])
GO
