USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[BillingID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[FinancialClassID] [int] NULL,
	[PatientInsuranceID] [int] NULL,
	[BillingTypeID] [int] NULL,
	[BillingStatusId] [int] NULL,
	[PlanId] [int] NULL,
	[BillingDate] [datetime] NULL,
	[TotalAmount] [money] NULL,
	[BalanceAmount] [money] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([BillingID], [VisitID], [FinancialClassID], [PatientInsuranceID], [BillingTypeID], [BillingStatusId], [PlanId], [BillingDate], [TotalAmount], [BalanceAmount], [CreatedAt], [UpdatedAt]) VALUES (3, 1511, 2, 770, 3, 2, 5, CAST(N'2023-06-04T00:00:00.000' AS DateTime), 2349.7200, 1707.2500, CAST(N'2026-03-17T13:39:30.303' AS DateTime), CAST(N'2026-03-17T13:39:30.303' AS DateTime))
INSERT [dbo].[Billing] ([BillingID], [VisitID], [FinancialClassID], [PatientInsuranceID], [BillingTypeID], [BillingStatusId], [PlanId], [BillingDate], [TotalAmount], [BalanceAmount], [CreatedAt], [UpdatedAt]) VALUES (4, 1120, 3, 343, 2, 2, 3, CAST(N'2023-10-07T00:00:00.000' AS DateTime), 3304.7300, 181.6200, CAST(N'2026-03-17T13:42:31.397' AS DateTime), NULL)
INSERT [dbo].[Billing] ([BillingID], [VisitID], [FinancialClassID], [PatientInsuranceID], [BillingTypeID], [BillingStatusId], [PlanId], [BillingDate], [TotalAmount], [BalanceAmount], [CreatedAt], [UpdatedAt]) VALUES (5, 1150, 4, 820, 3, 3, 1, CAST(N'2026-06-15T00:00:00.000' AS DateTime), 1833.3800, 1664.5100, CAST(N'2026-03-17T13:42:31.400' AS DateTime), CAST(N'2026-03-17T13:42:31.400' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [BillingDate]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([BillingTypeID])
REFERENCES [dbo].[BillingType] ([BillingTypeID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([BillingStatusId])
REFERENCES [dbo].[BillingStatus] ([BillingStatusID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([BillingTypeID])
REFERENCES [dbo].[BillingType] ([BillingTypeID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([BillingStatusId])
REFERENCES [dbo].[BillingStatus] ([BillingStatusID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([FinancialClassID])
REFERENCES [dbo].[FinancialClass] ([FinancialClassID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([PatientInsuranceID])
REFERENCES [dbo].[PatientInsurance] ([PatientInsuranceID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([PatientInsuranceID])
REFERENCES [dbo].[PatientInsurance] ([PatientInsuranceID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[BillingPlan] ([PlanId])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[BillingPlan] ([PlanId])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
