USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientCategory]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientCategory](
	[PatientCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientCategory] ON 

INSERT [dbo].[PatientCategory] ([PatientCategoryID], [CategoryName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Inpatient', N'Admitted to hospital overnight', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[PatientCategory] ([PatientCategoryID], [CategoryName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Outpatient', N'Patient treated without admission', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[PatientCategory] ([PatientCategoryID], [CategoryName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Emergency', N'Patient treated in emergency department', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PatientCategory] OFF
GO
ALTER TABLE [dbo].[PatientCategory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
