USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[AppointmentStatus]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatus](
	[AppStatusID] [int] IDENTITY(1,1) NOT NULL,
	[AppStatusName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentStatus] ON 

INSERT [dbo].[AppointmentStatus] ([AppStatusID], [AppStatusName], [Description], [CreatedAt]) VALUES (1, N'Scheduled', N'Appointment is scheduled for the patient', CAST(N'2026-03-16T10:58:39.893' AS DateTime))
INSERT [dbo].[AppointmentStatus] ([AppStatusID], [AppStatusName], [Description], [CreatedAt]) VALUES (2, N'Completed', N'Appointment has been completed successfully', CAST(N'2026-03-16T10:58:39.893' AS DateTime))
INSERT [dbo].[AppointmentStatus] ([AppStatusID], [AppStatusName], [Description], [CreatedAt]) VALUES (3, N'Cancelled', N'Appointment was cancelled by patient or provider', CAST(N'2026-03-16T10:58:39.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[AppointmentStatus] OFF
GO
ALTER TABLE [dbo].[AppointmentStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
