USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BillPaymentMethod]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillPaymentMethod](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodName] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillPaymentMethod] ON 

INSERT [dbo].[BillPaymentMethod] ([PaymentMethodID], [PaymentMethodName], [Description], [CreatedAt], [UpdatedDate]) VALUES (1, N'Cash', N'Payment made by cash', CAST(N'2026-03-16T11:04:31.200' AS DateTime), CAST(N'2024-12-10T00:00:00.000' AS DateTime))
INSERT [dbo].[BillPaymentMethod] ([PaymentMethodID], [PaymentMethodName], [Description], [CreatedAt], [UpdatedDate]) VALUES (2, N'Credit Card', N'Payment made by credit card', CAST(N'2026-03-16T11:04:31.200' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[BillPaymentMethod] ([PaymentMethodID], [PaymentMethodName], [Description], [CreatedAt], [UpdatedDate]) VALUES (3, N'Debit Card', N'Payment made by debit card', CAST(N'2026-03-16T11:04:31.200' AS DateTime), CAST(N'2025-02-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BillPaymentMethod] OFF
GO
ALTER TABLE [dbo].[BillPaymentMethod] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
