USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Guarantors]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantors](
	[GuarantorID] [int] IDENTITY(1,1) NOT NULL,
	[GuarantorsName] [varchar](100) NOT NULL,
	[RankID] [int] NULL,
	[ContactInfo] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GuarantorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Guarantors]  WITH CHECK ADD FOREIGN KEY([RankID])
REFERENCES [dbo].[GuarantorRank] ([RankID])
GO
