USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabPayment]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[LabOrderID] [int] NULL,
	[AmountPaid] [decimal](10, 2) NULL,
	[PaymentMethodID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabPayment] ON 

INSERT [dbo].[LabPayment] ([PaymentID], [LabOrderID], [AmountPaid], [PaymentMethodID], [PaymentDate], [Description], [CreatedAt]) VALUES (1, 5, CAST(216.00 AS Decimal(10, 2)), 4, CAST(N'2023-07-02T00:00:00.000' AS DateTime), N'General lab payment', CAST(N'2024-05-22T00:00:00.000' AS DateTime))
INSERT [dbo].[LabPayment] ([PaymentID], [LabOrderID], [AmountPaid], [PaymentMethodID], [PaymentDate], [Description], [CreatedAt]) VALUES (2, 191, CAST(247.00 AS Decimal(10, 2)), 5, CAST(N'2024-06-14T00:00:00.000' AS DateTime), N'Follow-up lab payment', CAST(N'2023-09-20T00:00:00.000' AS DateTime))
INSERT [dbo].[LabPayment] ([PaymentID], [LabOrderID], [AmountPaid], [PaymentMethodID], [PaymentDate], [Description], [CreatedAt]) VALUES (3, 55, CAST(228.00 AS Decimal(10, 2)), 4, CAST(N'2023-06-23T00:00:00.000' AS DateTime), N'Follow-up lab payment', CAST(N'2024-04-25T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LabPayment] OFF
GO
ALTER TABLE [dbo].[LabPayment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabPayment]  WITH CHECK ADD FOREIGN KEY([LabOrderID])
REFERENCES [dbo].[LabOrder] ([LabOrderID])
GO
ALTER TABLE [dbo].[LabPayment]  WITH CHECK ADD FOREIGN KEY([LabOrderID])
REFERENCES [dbo].[LabOrder] ([LabOrderID])
GO
ALTER TABLE [dbo].[LabPayment]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[BillPaymentMethod] ([PaymentMethodID])
GO
