USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[AdmissionService]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionService](
	[AdmissionServiceID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionID] [int] NOT NULL,
	[AdmServiceName] [varchar](100) NOT NULL,
	[ServiceCategory] [varchar](50) NULL,
	[ServiceDate] [datetime] NULL,
	[Cost] [decimal](10, 2) NULL,
	[Notes] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmissionServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdmissionService] ON 

INSERT [dbo].[AdmissionService] ([AdmissionServiceID], [AdmissionID], [AdmServiceName], [ServiceCategory], [ServiceDate], [Cost], [Notes], [CreatedAt], [UpdatedAt]) VALUES (7, 5, N'Lab Test', N'Diagnostic', CAST(N'2024-01-10T00:00:00.000' AS DateTime), CAST(120.50 AS Decimal(10, 2)), N'Blood test', CAST(N'2023-02-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[AdmissionService] ([AdmissionServiceID], [AdmissionID], [AdmServiceName], [ServiceCategory], [ServiceDate], [Cost], [Notes], [CreatedAt], [UpdatedAt]) VALUES (8, 12, N'X-Ray', N'Diagnostic', CAST(N'2024-03-12T00:00:00.000' AS DateTime), CAST(250.00 AS Decimal(10, 2)), N'Chest imaging', CAST(N'2023-03-05T00:00:00.000' AS DateTime), CAST(N'2023-03-07T00:00:00.000' AS DateTime))
INSERT [dbo].[AdmissionService] ([AdmissionServiceID], [AdmissionID], [AdmServiceName], [ServiceCategory], [ServiceDate], [Cost], [Notes], [CreatedAt], [UpdatedAt]) VALUES (9, 25, N'Medication', N'Clinical', CAST(N'2025-06-15T00:00:00.000' AS DateTime), CAST(75.25 AS Decimal(10, 2)), N'Pain relief', CAST(N'2024-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AdmissionService] OFF
GO
ALTER TABLE [dbo].[AdmissionService] ADD  DEFAULT (getdate()) FOR [ServiceDate]
GO
ALTER TABLE [dbo].[AdmissionService] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdmissionService]  WITH CHECK ADD FOREIGN KEY([AdmissionID])
REFERENCES [dbo].[Admission] ([AdmissionID])
GO
ALTER TABLE [dbo].[AdmissionService]  WITH CHECK ADD FOREIGN KEY([AdmissionID])
REFERENCES [dbo].[Admission] ([AdmissionID])
GO
