USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Diagnosis]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[DiagnosisID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[DiagnosisCode] [varchar](20) NOT NULL,
	[DiagnosisDescription] [varchar](255) NOT NULL,
	[DiagnosisDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiagnosisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diagnosis] ON 

INSERT [dbo].[Diagnosis] ([DiagnosisID], [VisitID], [DiagnosisCode], [DiagnosisDescription], [DiagnosisDate]) VALUES (1, 49, N'DX300', N'Skin Infection', CAST(N'2026-04-09T14:36:27.870' AS DateTime))
INSERT [dbo].[Diagnosis] ([DiagnosisID], [VisitID], [DiagnosisCode], [DiagnosisDescription], [DiagnosisDate]) VALUES (2, 1258, N'DX913', N'Skin Infection', CAST(N'2026-04-10T14:36:27.870' AS DateTime))
INSERT [dbo].[Diagnosis] ([DiagnosisID], [VisitID], [DiagnosisCode], [DiagnosisDescription], [DiagnosisDate]) VALUES (3, 1258, N'DX065', N'Chronic Kidney Disease', CAST(N'2026-03-31T14:36:27.883' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Diagnosis] OFF
GO
ALTER TABLE [dbo].[Diagnosis] ADD  DEFAULT (getdate()) FOR [DiagnosisDate]
GO
ALTER TABLE [dbo].[Diagnosis]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
