USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[ProcedureTable]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureTable](
	[ProcedureID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[ProcedureCode] [varchar](20) NOT NULL,
	[ProcedureDescription] [varchar](255) NOT NULL,
	[ProcedureDate] [datetime] NULL,
	[Cost] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcedureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProcedureTable] ON 

INSERT [dbo].[ProcedureTable] ([ProcedureID], [VisitID], [ProcedureCode], [ProcedureDescription], [ProcedureDate], [Cost]) VALUES (1, 1593, N'P005', N'Vaccination', CAST(N'2024-02-14T00:00:00.000' AS DateTime), 1705.7500)
INSERT [dbo].[ProcedureTable] ([ProcedureID], [VisitID], [ProcedureCode], [ProcedureDescription], [ProcedureDate], [Cost]) VALUES (2, 749, N'P012', N'Blood Transfusion', CAST(N'2026-01-15T00:00:00.000' AS DateTime), 1280.4500)
INSERT [dbo].[ProcedureTable] ([ProcedureID], [VisitID], [ProcedureCode], [ProcedureDescription], [ProcedureDate], [Cost]) VALUES (3, 1067, N'P013', N'Vaccination', CAST(N'2024-02-17T00:00:00.000' AS DateTime), 3568.9300)
GO
SET IDENTITY_INSERT [dbo].[ProcedureTable] OFF
GO
ALTER TABLE [dbo].[ProcedureTable] ADD  DEFAULT (getdate()) FOR [ProcedureDate]
GO
ALTER TABLE [dbo].[ProcedureTable]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
