USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabTest]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTest](
	[LabTestID] [int] IDENTITY(1,1) NOT NULL,
	[TestCode] [varchar](20) NOT NULL,
	[TestName] [varchar](100) NOT NULL,
	[TestCategory] [varchar](100) NULL,
	[TestPrice] [decimal](10, 2) NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LabTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabTest] ON 

INSERT [dbo].[LabTest] ([LabTestID], [TestCode], [TestName], [TestCategory], [TestPrice], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'TSH', N'Thyroid Stimulating Hormone', N'Endocrinology', CAST(40.00 AS Decimal(10, 2)), N'Assesses thyroid function', CAST(N'2023-04-20T00:00:00.000' AS DateTime), CAST(N'2023-04-20T00:00:00.000' AS DateTime))
INSERT [dbo].[LabTest] ([LabTestID], [TestCode], [TestName], [TestCategory], [TestPrice], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'T3', N'Triiodothyronine', N'Endocrinology', CAST(38.00 AS Decimal(10, 2)), N'Thyroid hormone level', CAST(N'2023-04-20T00:00:00.000' AS DateTime), CAST(N'2023-04-20T00:00:00.000' AS DateTime))
INSERT [dbo].[LabTest] ([LabTestID], [TestCode], [TestName], [TestCategory], [TestPrice], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'T4', N'Thyroxine', N'Endocrinology', CAST(38.00 AS Decimal(10, 2)), N'Thyroid hormone measurement', CAST(N'2023-04-20T00:00:00.000' AS DateTime), CAST(N'2023-04-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LabTest] OFF
GO
ALTER TABLE [dbo].[LabTest] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
