USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [GenderName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Male', N'Biological male', CAST(N'2026-03-13T20:29:59.480' AS DateTime), NULL)
INSERT [dbo].[Gender] ([GenderID], [GenderName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Female', N'Biological female', CAST(N'2026-03-13T20:29:59.480' AS DateTime), NULL)
INSERT [dbo].[Gender] ([GenderID], [GenderName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Declined to Answer', N'Patient declined to state gender', CAST(N'2026-03-13T20:29:59.480' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
ALTER TABLE [dbo].[Gender] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
