USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[ArrivedBy]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArrivedBy](
	[ArrivalID] [int] IDENTITY(1,1) NOT NULL,
	[ArrivalMethod] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArrivalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ArrivedBy] ON 

INSERT [dbo].[ArrivedBy] ([ArrivalID], [ArrivalMethod], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Walk-in', N'Patient walked in', NULL, NULL)
INSERT [dbo].[ArrivedBy] ([ArrivalID], [ArrivalMethod], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Ambulance', N'Transported by ambulance', NULL, NULL)
INSERT [dbo].[ArrivedBy] ([ArrivalID], [ArrivalMethod], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Private Vehicle', N'Arrived by personal car', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ArrivedBy] OFF
GO
