USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[MedicationOrder]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationOrder](
	[MedicationOrderID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[MedicationID] [int] NOT NULL,
	[PhysicianID] [int] NOT NULL,
	[Frequency] [varchar](50) NULL,
	[Route] [varchar](50) NULL,
	[Dosage] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Cost] [money] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicationOrder] ON 

INSERT [dbo].[MedicationOrder] ([MedicationOrderID], [VisitID], [MedicationID], [PhysicianID], [Frequency], [Route], [Dosage], [Quantity], [Cost], [StartDate], [EndDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 727, 11, 7, N'Once daily', N'IV', N'1 tablet', 7, 38.0000, CAST(N'2024-04-06' AS Date), CAST(N'2023-11-05' AS Date), N'Active', N'Medication prescribed for treatment', CAST(N'2023-09-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[MedicationOrder] ([MedicationOrderID], [VisitID], [MedicationID], [PhysicianID], [Frequency], [Route], [Dosage], [Quantity], [Cost], [StartDate], [EndDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 1201, 13, 293, N'Twice daily', N'Oral', N'500 mg', 1, 156.0000, CAST(N'2024-07-07' AS Date), CAST(N'2024-01-27' AS Date), N'Completed', N'Medication prescribed for treatment', CAST(N'2024-10-17T00:00:00.000' AS DateTime), CAST(N'2023-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[MedicationOrder] ([MedicationOrderID], [VisitID], [MedicationID], [PhysicianID], [Frequency], [Route], [Dosage], [Quantity], [Cost], [StartDate], [EndDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 1300, 8, 110, N'Every 6 hours', N'IM', N'10 ml', 4, 63.0000, CAST(N'2023-02-11' AS Date), CAST(N'2025-05-07' AS Date), N'Discontinued', N'Medication prescribed for treatment', CAST(N'2025-06-23T00:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[MedicationOrder] OFF
GO
ALTER TABLE [dbo].[MedicationOrder] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([MedicationID])
REFERENCES [dbo].[Medication] ([MedicationID])
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([MedicationID])
REFERENCES [dbo].[Medication] ([MedicationID])
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[MedicationOrder]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
