USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientContact]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientContact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[HomePhone] [varchar](20) NULL,
	[CellPhone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientContact] ON 

INSERT [dbo].[PatientContact] ([ContactID], [PatientID], [HomePhone], [CellPhone], [Email]) VALUES (1, 1, N'303-123-4567', N'303-987-6543', N'john.doe@example.com')
INSERT [dbo].[PatientContact] ([ContactID], [PatientID], [HomePhone], [CellPhone], [Email]) VALUES (2, 2, N'720-111-2222', N'720-333-4444', N'jane.smith@example.com')
INSERT [dbo].[PatientContact] ([ContactID], [PatientID], [HomePhone], [CellPhone], [Email]) VALUES (3, 3, N'970-555-6666', N'970-777-8888', N'emily.johnson@example.com')
GO
SET IDENTITY_INSERT [dbo].[PatientContact] OFF
GO
