USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientCNA]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientCNA](
	[PatientCNAID] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[CNAId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientCNAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientCNA] ON 

INSERT [dbo].[PatientCNA] ([PatientCNAID], [VisitId], [CNAId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (1, 61, 1, CAST(N'2022-01-15T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.743' AS DateTime), NULL)
INSERT [dbo].[PatientCNA] ([PatientCNAID], [VisitId], [CNAId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (2, 61, 2, CAST(N'2022-02-01T00:00:00.000' AS DateTime), CAST(N'2022-02-28T00:00:00.000' AS DateTime), CAST(N'2024-11-20T09:46:45.743' AS DateTime), NULL)
INSERT [dbo].[PatientCNA] ([PatientCNAID], [VisitId], [CNAId], [DateFrom], [DateTo], [CreatedDate], [UpdatedDate]) VALUES (3, 62, 3, CAST(N'2022-03-05T00:00:00.000' AS DateTime), NULL, CAST(N'2024-11-20T09:46:45.743' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PatientCNA] OFF
GO
ALTER TABLE [dbo].[PatientCNA] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientCNA]  WITH CHECK ADD FOREIGN KEY([CNAId])
REFERENCES [dbo].[CNA] ([CNAID])
GO
ALTER TABLE [dbo].[PatientCNA]  WITH CHECK ADD FOREIGN KEY([CNAId])
REFERENCES [dbo].[CNA] ([CNAID])
GO
ALTER TABLE [dbo].[PatientCNA]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
