USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[InsuranceProviders]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceProviders](
	[ProviderID] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [varchar](100) NOT NULL,
	[ProviderPhone] [varchar](20) NULL,
	[ProviderAddress] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InsuranceProviders] ON 

INSERT [dbo].[InsuranceProviders] ([ProviderID], [ProviderName], [ProviderPhone], [ProviderAddress], [City], [State], [Country], [CreatedAt]) VALUES (1, N'Blue Cross Blue Shield', N'(602) 555-0101', N'123 Health St.', N'Phoenix', N'Arizona', N'USA', CAST(N'2026-03-16T10:58:39.870' AS DateTime))
INSERT [dbo].[InsuranceProviders] ([ProviderID], [ProviderName], [ProviderPhone], [ProviderAddress], [City], [State], [Country], [CreatedAt]) VALUES (2, N'UnitedHealthcare', N'(602) 555-0102', N'456 Wellness Ave.', N'Tucson', N'Arizona', N'USA', CAST(N'2026-03-16T10:58:39.870' AS DateTime))
INSERT [dbo].[InsuranceProviders] ([ProviderID], [ProviderName], [ProviderPhone], [ProviderAddress], [City], [State], [Country], [CreatedAt]) VALUES (3, N'Aetna', N'(602) 555-0103', N'789 Care Blvd.', N'Scottsdale', N'Arizona', N'USA', CAST(N'2026-03-16T10:58:39.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[InsuranceProviders] OFF
GO
ALTER TABLE [dbo].[InsuranceProviders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
