USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Religion]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religion](
	[ReligionID] [int] IDENTITY(1,1) NOT NULL,
	[ReligionName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReligionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Religion] ON 

INSERT [dbo].[Religion] ([ReligionID], [ReligionName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Christianity', N'Christian religion', CAST(N'2026-03-13T20:29:59.487' AS DateTime), NULL)
INSERT [dbo].[Religion] ([ReligionID], [ReligionName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Islam', N'Muslim faith', CAST(N'2026-03-13T20:29:59.487' AS DateTime), NULL)
INSERT [dbo].[Religion] ([ReligionID], [ReligionName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Judaism', N'Jewish religion', CAST(N'2026-03-13T20:29:59.487' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Religion] OFF
GO
ALTER TABLE [dbo].[Religion] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
