USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabTechnician]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTechnician](
	[TechnicianID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](30) NULL,
	[SpecialtyID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabTechnician] ON 

INSERT [dbo].[LabTechnician] ([TechnicianID], [FirstName], [LastName], [Email], [PhoneNumber], [SpecialtyID], [CreatedAt]) VALUES (1, N'Alice', N'Johnson', N'alice.johnson@hospital.org', N'303-555-1010', 24, CAST(N'2023-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[LabTechnician] ([TechnicianID], [FirstName], [LastName], [Email], [PhoneNumber], [SpecialtyID], [CreatedAt]) VALUES (2, N'Brian', N'Smith', N'brian.smith@hospital.org', N'303-555-1011', 16, CAST(N'2023-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[LabTechnician] ([TechnicianID], [FirstName], [LastName], [Email], [PhoneNumber], [SpecialtyID], [CreatedAt]) VALUES (3, N'Catherine', N'Lee', N'catherine.lee@hospital.org', N'303-555-1012', 27, CAST(N'2023-01-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LabTechnician] OFF
GO
ALTER TABLE [dbo].[LabTechnician] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabTechnician]  WITH CHECK ADD  CONSTRAINT [FK_LabTechnician_Specialty] FOREIGN KEY([SpecialtyID])
REFERENCES [dbo].[Specialty] ([SpecialtyID])
GO
ALTER TABLE [dbo].[LabTechnician] CHECK CONSTRAINT [FK_LabTechnician_Specialty]
GO
