USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PrescriptionItems]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionItems](
	[PrescriptionItemID] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionID] [int] NULL,
	[MedicationID] [int] NULL,
	[quantity] [int] NULL,
	[note] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PrescriptionItems] ON 

INSERT [dbo].[PrescriptionItems] ([PrescriptionItemID], [PrescriptionID], [MedicationID], [quantity], [note]) VALUES (1, 441, 8, 4, N'Do not skip doses')
INSERT [dbo].[PrescriptionItems] ([PrescriptionItemID], [PrescriptionID], [MedicationID], [quantity], [note]) VALUES (2, 617, 27, 1, N'Take as needed for symptoms')
INSERT [dbo].[PrescriptionItems] ([PrescriptionItemID], [PrescriptionID], [MedicationID], [quantity], [note]) VALUES (3, 114, 19, 7, N'Take as needed for symptoms')
GO
SET IDENTITY_INSERT [dbo].[PrescriptionItems] OFF
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD FOREIGN KEY([MedicationID])
REFERENCES [dbo].[Medication] ([MedicationID])
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescription] ([PrescriptionID])
GO
ALTER TABLE [dbo].[PrescriptionItems]  WITH CHECK ADD FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescription] ([PrescriptionID])
GO
