USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LabSample]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabSample](
	[SampleID] [int] IDENTITY(1,1) NOT NULL,
	[LabOrderID] [int] NOT NULL,
	[SampleType] [varchar](50) NULL,
	[SampleCondition] [varchar](50) NULL,
	[CollectionDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SampleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LabSample] ON 

INSERT [dbo].[LabSample] ([SampleID], [LabOrderID], [SampleType], [SampleCondition], [CollectionDate], [Status], [CreatedAt]) VALUES (1, 75, N'Saliva', N'Insufficient', CAST(N'2025-08-09T00:00:00.000' AS DateTime), N'In Process', CAST(N'2026-03-17T18:45:58.720' AS DateTime))
INSERT [dbo].[LabSample] ([SampleID], [LabOrderID], [SampleType], [SampleCondition], [CollectionDate], [Status], [CreatedAt]) VALUES (2, 6, N'Swab', N'Insufficient', CAST(N'2025-02-12T00:00:00.000' AS DateTime), N'Rejected', CAST(N'2026-03-17T18:45:58.720' AS DateTime))
INSERT [dbo].[LabSample] ([SampleID], [LabOrderID], [SampleType], [SampleCondition], [CollectionDate], [Status], [CreatedAt]) VALUES (3, 180, N'Swab', N'Insufficient', CAST(N'2025-08-17T00:00:00.000' AS DateTime), N'Rejected', CAST(N'2026-03-17T18:45:58.723' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LabSample] OFF
GO
ALTER TABLE [dbo].[LabSample] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabSample]  WITH CHECK ADD FOREIGN KEY([LabOrderID])
REFERENCES [dbo].[LabOrder] ([LabOrderID])
GO
ALTER TABLE [dbo].[LabSample]  WITH CHECK ADD FOREIGN KEY([LabOrderID])
REFERENCES [dbo].[LabOrder] ([LabOrderID])
GO
