USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [varchar](50) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[SpecialtyID] [int] NULL,
	[Phone] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentCode], [DepartmentName], [SpecialtyID], [Phone], [CreatedAt], [UpdatedAt]) VALUES (1, N'ER', N'Emergency Department', 11, N'(602) 555-0101', CAST(N'2023-05-12T00:00:00.000' AS DateTime), CAST(N'2024-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Department] ([DepartmentID], [DepartmentCode], [DepartmentName], [SpecialtyID], [Phone], [CreatedAt], [UpdatedAt]) VALUES (2, N'CARD', N'Cardiology', 1, N'(602) 555-0102', CAST(N'2023-11-03T00:00:00.000' AS DateTime), CAST(N'2024-07-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Department] ([DepartmentID], [DepartmentCode], [DepartmentName], [SpecialtyID], [Phone], [CreatedAt], [UpdatedAt]) VALUES (3, N'CARD-ICU', N'Cardiac ICU', 1, N'(602) 555-0122', CAST(N'2024-01-05T00:00:00.000' AS DateTime), CAST(N'2025-02-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([SpecialtyID])
REFERENCES [dbo].[Specialty] ([SpecialtyID])
GO
