USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Allergy]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergy](
	[AllergyId] [int] IDENTITY(1,1) NOT NULL,
	[AllergyName] [varchar](100) NOT NULL,
	[AllergyType] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[Severity] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AllergyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Allergy] ON 

INSERT [dbo].[Allergy] ([AllergyId], [AllergyName], [AllergyType], [Description], [Severity], [CreatedDate], [UpdatedDate]) VALUES (1, N'Penicillin', N'Drug', N'Allergic reaction to penicillin antibiotics', N'High', CAST(N'2023-02-10T00:00:00.000' AS DateTime), CAST(N'2023-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Allergy] ([AllergyId], [AllergyName], [AllergyType], [Description], [Severity], [CreatedDate], [UpdatedDate]) VALUES (2, N'Peanuts', N'Food', N'Severe peanut allergy', N'Critical', CAST(N'2023-04-05T00:00:00.000' AS DateTime), CAST(N'2023-04-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Allergy] ([AllergyId], [AllergyName], [AllergyType], [Description], [Severity], [CreatedDate], [UpdatedDate]) VALUES (3, N'Latex', N'Material', N'Allergy to latex gloves', N'Medium', CAST(N'2023-06-12T00:00:00.000' AS DateTime), CAST(N'2023-06-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Allergy] OFF
GO
ALTER TABLE [dbo].[Allergy] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
