USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([LanguageID], [LanguageName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'English', N'Primary language in United States', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[Language] ([LanguageID], [LanguageName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Spanish', N'Spanish language', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[Language] ([LanguageID], [LanguageName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Chinese', N'Mandarin or other Chinese dialects', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
ALTER TABLE [dbo].[Language] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
