USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[EmergencyContact]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContact](
	[EmergencyContactID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Relationship] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmergencyContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmergencyContact] ON 

INSERT [dbo].[EmergencyContact] ([EmergencyContactID], [PatientID], [FirstName], [LastName], [Relationship], [Phone], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'Sarah', N'Smith', N'Friend', N'(971) 569-6134', CAST(N'2026-03-16T10:22:50.067' AS DateTime), CAST(N'2026-03-16T10:22:50.067' AS DateTime))
INSERT [dbo].[EmergencyContact] ([EmergencyContactID], [PatientID], [FirstName], [LastName], [Relationship], [Phone], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'Sarah', N'Smith', N'Friend', N'(143) 154-3899', CAST(N'2026-03-16T10:22:50.067' AS DateTime), CAST(N'2026-03-16T10:22:50.067' AS DateTime))
INSERT [dbo].[EmergencyContact] ([EmergencyContactID], [PatientID], [FirstName], [LastName], [Relationship], [Phone], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'Sarah', N'Smith', N'Friend', N'(484) 611-6348', CAST(N'2026-03-16T10:22:50.067' AS DateTime), CAST(N'2026-03-16T10:22:50.067' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EmergencyContact] OFF
GO
ALTER TABLE [dbo].[EmergencyContact] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
