USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Lab]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab](
	[LabID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[LabOrderID] [int] NOT NULL,
	[LabTestID] [int] NOT NULL,
	[TechnicianID] [int] NOT NULL,
	[SampleID] [int] NOT NULL,
	[TestResultID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[LabStatus] [varchar](50) NULL,
	[TestPriority] [varchar](50) NULL,
	[TestCategory] [varchar](50) NULL,
	[TechnicianNotes] [varchar](max) NULL,
	[LabRemarks] [varchar](max) NULL,
	[SampleCondition] [varchar](50) NULL,
	[ResultVerificationStatus] [varchar](50) NULL,
	[ExpectedCompletionDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LabID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
