USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BillingPlan]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingPlan](
	[PlanId] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[MonthlyFee] [decimal](10, 2) NULL,
	[Deductible] [decimal](10, 2) NULL,
	[CoveragePercentage] [decimal](5, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillingPlan] ON 

INSERT [dbo].[BillingPlan] ([PlanId], [PlanName], [Description], [MonthlyFee], [Deductible], [CoveragePercentage], [CreatedDate], [UpdatedDate]) VALUES (1, N'Basic Health Plan', N'Covers primary care and basic services', CAST(200.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(N'2026-03-16T11:04:31.187' AS DateTime), CAST(N'2025-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[BillingPlan] ([PlanId], [PlanName], [Description], [MonthlyFee], [Deductible], [CoveragePercentage], [CreatedDate], [UpdatedDate]) VALUES (2, N'Premium Health Plan', N'Covers specialist visits and procedures', CAST(450.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(5, 2)), CAST(N'2026-03-16T11:04:31.187' AS DateTime), CAST(N'2024-11-20T00:00:00.000' AS DateTime))
INSERT [dbo].[BillingPlan] ([PlanId], [PlanName], [Description], [MonthlyFee], [Deductible], [CoveragePercentage], [CreatedDate], [UpdatedDate]) VALUES (3, N'Family Plan', N'Covers entire family', CAST(650.00 AS Decimal(10, 2)), CAST(750.00 AS Decimal(10, 2)), CAST(85.00 AS Decimal(5, 2)), CAST(N'2026-03-16T11:04:31.187' AS DateTime), CAST(N'2025-02-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BillingPlan] OFF
GO
ALTER TABLE [dbo].[BillingPlan] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
