USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[LegalStatus]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegalStatus](
	[LegalStatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LegalStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LegalStatus] ON 

INSERT [dbo].[LegalStatus] ([LegalStatusId], [StatusName], [Description], [CreatedDate], [UpdatedDate]) VALUES (1, N'Competent Adult', N'Patient can make decisions', NULL, NULL)
INSERT [dbo].[LegalStatus] ([LegalStatusId], [StatusName], [Description], [CreatedDate], [UpdatedDate]) VALUES (2, N'Minor', N'Under legal adult age', NULL, NULL)
INSERT [dbo].[LegalStatus] ([LegalStatusId], [StatusName], [Description], [CreatedDate], [UpdatedDate]) VALUES (3, N'In Police Custody', N'Under law enforcement supervision', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LegalStatus] OFF
GO
