USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[MaritalStatus]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalStatus](
	[MaritalStatusID] [int] IDENTITY(1,1) NOT NULL,
	[MaritalStatusName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaritalStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaritalStatus] ON 

INSERT [dbo].[MaritalStatus] ([MaritalStatusID], [MaritalStatusName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Single', N'Never married', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[MaritalStatus] ([MaritalStatusID], [MaritalStatusName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Married', N'Legally married', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[MaritalStatus] ([MaritalStatusID], [MaritalStatusName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Divorced', N'Marriage legally dissolved', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MaritalStatus] OFF
GO
ALTER TABLE [dbo].[MaritalStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
