USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientPhysician]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientPhysician](
	[PatientPhysicianId] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[PhysicianId] [int] NOT NULL,
	[AssignmentDate] [datetime] NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NULL,
	[Notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientPhysicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientPhysician] ON 

INSERT [dbo].[PatientPhysician] ([PatientPhysicianId], [VisitId], [PhysicianId], [AssignmentDate], [DateFrom], [DateTo], [Notes]) VALUES (1, 61, 3, CAST(N'2022-01-15T00:00:00.000' AS DateTime), CAST(N'2022-01-15' AS Date), CAST(N'2022-12-15' AS Date), N'Initial assignment for cardiology treatment.')
INSERT [dbo].[PatientPhysician] ([PatientPhysicianId], [VisitId], [PhysicianId], [AssignmentDate], [DateFrom], [DateTo], [Notes]) VALUES (2, 62, 5, CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-05-10' AS Date), NULL, N'Ongoing neurology follow-up.')
INSERT [dbo].[PatientPhysician] ([PatientPhysicianId], [VisitId], [PhysicianId], [AssignmentDate], [DateFrom], [DateTo], [Notes]) VALUES (3, 63, 8, CAST(N'2023-03-01T00:00:00.000' AS DateTime), CAST(N'2023-03-01' AS Date), CAST(N'2023-09-01' AS Date), N'Assigned for dermatology care.')
SET IDENTITY_INSERT [dbo].[PatientPhysician] OFF
GO
ALTER TABLE [dbo].[PatientPhysician]  WITH CHECK ADD FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[PatientPhysician]  WITH CHECK ADD FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[PatientPhysician]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
