USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[RadiologyOrder]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiologyOrder](
	[RadiologyOrderID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[ProcedureName] [varchar](100) NOT NULL,
	[ProcedureCode] [varchar](20) NULL,
	[OrderDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RadiologyOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RadiologyOrder] ON 

INSERT [dbo].[RadiologyOrder] ([RadiologyOrderID], [VisitID], [ProcedureName], [ProcedureCode], [OrderDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 1435, N'CT Angiography', N'R014', CAST(N'2025-04-29T00:00:00.000' AS DateTime), N'Ordered', N'Radiology procedure for patient visit', CAST(N'2026-03-17T14:48:15.847' AS DateTime), NULL)
INSERT [dbo].[RadiologyOrder] ([RadiologyOrderID], [VisitID], [ProcedureName], [ProcedureCode], [OrderDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 396, N'MRI Brain', N'R004', CAST(N'2026-04-19T00:00:00.000' AS DateTime), N'Ordered', N'Radiology procedure for patient visit', CAST(N'2026-03-17T14:48:15.850' AS DateTime), CAST(N'2026-03-17T14:48:15.850' AS DateTime))
INSERT [dbo].[RadiologyOrder] ([RadiologyOrderID], [VisitID], [ProcedureName], [ProcedureCode], [OrderDate], [Status], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 120, N'CT Angiography', N'R014', CAST(N'2026-11-16T00:00:00.000' AS DateTime), N'Ordered', N'Radiology procedure for patient visit', CAST(N'2026-03-17T14:48:15.857' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[RadiologyOrder] OFF
GO
ALTER TABLE [dbo].[RadiologyOrder] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[RadiologyOrder] ADD  DEFAULT ('Ordered') FOR [Status]
GO
ALTER TABLE [dbo].[RadiologyOrder] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RadiologyOrder]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[RadiologyOrder]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
