USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[CNA]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNA](
	[CNAID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[LicenseNumber] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[HireDate] [datetime] NOT NULL,
	[Specialty] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CNAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CNA] ON 

INSERT [dbo].[CNA] ([CNAID], [FirstName], [LastName], [LicenseNumber], [PhoneNumber], [Email], [HireDate], [Specialty], [CreatedDate], [UpdatedDate]) VALUES (1, N'Emma', N'Johnson', N'CNA-1001', N'303-555-1010', N'emma.johnson@hospital.com', CAST(N'2020-05-12T00:00:00.000' AS DateTime), N'Geriatrics', CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[CNA] ([CNAID], [FirstName], [LastName], [LicenseNumber], [PhoneNumber], [Email], [HireDate], [Specialty], [CreatedDate], [UpdatedDate]) VALUES (2, N'Liam', N'Smith', N'CNA-1002', N'303-555-1020', N'liam.smith@hospital.com', CAST(N'2019-08-20T00:00:00.000' AS DateTime), N'Medical-Surgical', CAST(N'2023-02-15T00:00:00.000' AS DateTime), CAST(N'2023-02-15T00:00:00.000' AS DateTime))
INSERT [dbo].[CNA] ([CNAID], [FirstName], [LastName], [LicenseNumber], [PhoneNumber], [Email], [HireDate], [Specialty], [CreatedDate], [UpdatedDate]) VALUES (3, N'Olivia', N'Brown', N'CNA-1003', N'303-555-1030', N'olivia.brown@hospital.com', CAST(N'2021-02-18T00:00:00.000' AS DateTime), N'ICU', CAST(N'2023-03-05T00:00:00.000' AS DateTime), CAST(N'2023-03-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CNA] OFF
GO
ALTER TABLE [dbo].[CNA] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[CNA] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
