USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[ProviderSchedule]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderSchedule](
	[ProviderScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[PhysicianID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProviderSchedule] ON 

INSERT [dbo].[ProviderSchedule] ([ProviderScheduleID], [PhysicianID], [StartTime], [EndTime], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 1, CAST(N'2026-03-16T08:00:00.000' AS DateTime), CAST(N'2026-03-16T16:00:00.000' AS DateTime), N'Morning Shift', CAST(N'2026-03-16T17:54:20.310' AS DateTime), NULL)
INSERT [dbo].[ProviderSchedule] ([ProviderScheduleID], [PhysicianID], [StartTime], [EndTime], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 2, CAST(N'2026-03-16T16:00:00.000' AS DateTime), CAST(N'2026-03-17T00:00:00.000' AS DateTime), N'Evening Shift', CAST(N'2026-03-16T17:54:20.310' AS DateTime), NULL)
INSERT [dbo].[ProviderSchedule] ([ProviderScheduleID], [PhysicianID], [StartTime], [EndTime], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 3, CAST(N'2026-03-16T00:00:00.000' AS DateTime), CAST(N'2026-03-16T08:00:00.000' AS DateTime), N'Night Shift', CAST(N'2026-03-16T17:54:20.310' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProviderSchedule] OFF
GO
ALTER TABLE [dbo].[ProviderSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProviderSchedule]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[ProviderSchedule]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
