USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[MiddleName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[DOB] [date] NOT NULL,
	[SSN] [nvarchar](255) NULL,
	[MED_RecNo] [nvarchar](255) NULL,
	[GenderID] [int] NULL,
	[MaritalStatusID] [int] NULL,
	[ReligionID] [int] NULL,
	[RaceID] [int] NULL,
	[LanguageID] [int] NULL,
	[RankID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([PatientID], [FirstName], [MiddleName], [LastName], [DOB], [SSN], [MED_RecNo], [GenderID], [MaritalStatusID], [ReligionID], [RaceID], [LanguageID], [RankID], [CreatedAt]) VALUES (1, N'James', N'A', N'Smith', CAST(N'1980-01-02' AS Date), N'765-09-4699', N'MED__001', 1, 2, 3, 1, 1, 1, CAST(N'2026-03-14T14:18:09.000' AS DateTime))
INSERT [dbo].[Patient] ([PatientID], [FirstName], [MiddleName], [LastName], [DOB], [SSN], [MED_RecNo], [GenderID], [MaritalStatusID], [ReligionID], [RaceID], [LanguageID], [RankID], [CreatedAt]) VALUES (2, N'Mary', N'B', N'Johnson', CAST(N'1985-02-11' AS Date), N'449-85-5081', N'MED__002', 2, 1, 4, 2, 2, 2, CAST(N'2026-03-14T14:18:09.000' AS DateTime))
INSERT [dbo].[Patient] ([PatientID], [FirstName], [MiddleName], [LastName], [DOB], [SSN], [MED_RecNo], [GenderID], [MaritalStatusID], [ReligionID], [RaceID], [LanguageID], [RankID], [CreatedAt]) VALUES (3, N'John', N'C', N'Williams', CAST(N'1979-03-15' AS Date), N'646-88-2768', N'MED__003', 1, 3, 5, 3, 3, 3, CAST(N'2026-03-14T14:18:09.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SSN]    Script Date: 4/3/2026 9:19:44 AM ******/
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [UQ_SSN] UNIQUE NONCLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([LanguageID])
REFERENCES [dbo].[Language] ([LanguageID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([MaritalStatusID])
REFERENCES [dbo].[MaritalStatus] ([MaritalStatusID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([RaceID])
REFERENCES [dbo].[Race] ([RaceID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([RankID])
REFERENCES [dbo].[GuarantorRank] ([RankID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([ReligionID])
REFERENCES [dbo].[Religion] ([ReligionID])
GO
