USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BillPayment]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillPayment](
	[BillPaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BillingID] [int] NOT NULL,
	[PaymentMethodID] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[AmountPaid] [money] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillPayment] ON 

INSERT [dbo].[BillPayment] ([BillPaymentID], [BillingID], [PaymentMethodID], [PaymentDate], [AmountPaid], [CreatedAt], [UpdatedAt]) VALUES (1, 932, 3, CAST(N'2026-06-20T00:00:00.000' AS DateTime), 680.9200, CAST(N'2026-03-17T14:29:48.280' AS DateTime), NULL)
INSERT [dbo].[BillPayment] ([BillPaymentID], [BillingID], [PaymentMethodID], [PaymentDate], [AmountPaid], [CreatedAt], [UpdatedAt]) VALUES (2, 123, 2, CAST(N'2023-01-08T00:00:00.000' AS DateTime), 563.4000, CAST(N'2026-03-17T14:29:48.280' AS DateTime), CAST(N'2026-03-17T14:29:48.280' AS DateTime))
INSERT [dbo].[BillPayment] ([BillPaymentID], [BillingID], [PaymentMethodID], [PaymentDate], [AmountPaid], [CreatedAt], [UpdatedAt]) VALUES (3, 186, 4, CAST(N'2024-07-18T00:00:00.000' AS DateTime), 805.6900, CAST(N'2026-03-17T14:29:48.287' AS DateTime), CAST(N'2026-03-17T14:29:48.287' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BillPayment] OFF
GO
ALTER TABLE [dbo].[BillPayment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[BillPayment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BillPayment]  WITH CHECK ADD FOREIGN KEY([BillingID])
REFERENCES [dbo].[Billing] ([BillingID])
GO
ALTER TABLE [dbo].[BillPayment]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[BillPaymentMethod] ([PaymentMethodID])
GO
