USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[NurseId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[LicenseNumber] [varchar](50) NOT NULL,
	[Specialty] [varchar](100) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[HireDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NurseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([NurseId], [FirstName], [LastName], [LicenseNumber], [Specialty], [PhoneNumber], [Email], [HireDate], [CreatedDate], [UpdatedDate]) VALUES (1, N'Sophia', N'Moore', N'RN-3001', N'ICU', N'303-555-3010', N'sophia.moore@hospital.com', CAST(N'2017-06-05T00:00:00.000' AS DateTime), CAST(N'2023-01-10T00:00:00.000' AS DateTime), CAST(N'2023-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Nurse] ([NurseId], [FirstName], [LastName], [LicenseNumber], [Specialty], [PhoneNumber], [Email], [HireDate], [CreatedDate], [UpdatedDate]) VALUES (2, N'Jackson', N'Taylor', N'RN-3002', N'Emergency', N'303-555-3020', N'jackson.taylor@hospital.com', CAST(N'2019-09-18T00:00:00.000' AS DateTime), CAST(N'2023-02-15T00:00:00.000' AS DateTime), CAST(N'2023-02-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Nurse] ([NurseId], [FirstName], [LastName], [LicenseNumber], [Specialty], [PhoneNumber], [Email], [HireDate], [CreatedDate], [UpdatedDate]) VALUES (3, N'Mia', N'Anderson', N'RN-3003', N'Pediatrics', N'303-555-3030', N'mia.anderson@hospital.com', CAST(N'2021-01-22T00:00:00.000' AS DateTime), CAST(N'2023-03-05T00:00:00.000' AS DateTime), CAST(N'2023-03-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Nurse] OFF
GO
ALTER TABLE [dbo].[Nurse] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Nurse] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
