USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[PhysicianID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Reason] [varchar](255) NULL,
	[AppStatusID] [int] NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [PhysicianID], [AppointmentDate], [Reason], [AppStatusID], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, 12, 5, CAST(N'2026-03-20T09:00:00.000' AS DateTime), N'Routine Checkup', 1, N'General health examination', CAST(N'2026-03-16T19:54:54.633' AS DateTime), NULL)
INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [PhysicianID], [AppointmentDate], [Reason], [AppStatusID], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, 45, 8, CAST(N'2026-03-20T10:00:00.000' AS DateTime), N'Fever', 2, N'Patient had fever for 3 days', CAST(N'2026-03-16T19:54:54.633' AS DateTime), NULL)
INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [PhysicianID], [AppointmentDate], [Reason], [AppStatusID], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, 67, 12, CAST(N'2026-03-20T11:30:00.000' AS DateTime), N'Follow-up', 1, N'Blood pressure follow-up', CAST(N'2026-03-16T19:54:54.633' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([PhysicianID])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Status] FOREIGN KEY([AppStatusID])
REFERENCES [dbo].[AppointmentStatus] ([AppStatusID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Status]
GO
