USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[GuarantorRank]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuarantorRank](
	[RankID] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GuarantorRank] ON 

INSERT [dbo].[GuarantorRank] ([RankID], [RankName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Self', N'Patient responsible for payment', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[GuarantorRank] ([RankID], [RankName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Spouse', N'Husband or wife responsible', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
INSERT [dbo].[GuarantorRank] ([RankID], [RankName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Parent', N'Mother or father responsible', CAST(N'2026-03-13T20:29:59.500' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[GuarantorRank] OFF
GO
ALTER TABLE [dbo].[GuarantorRank] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
