USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NULL,
	[PhysicianId] [int] NULL,
	[PaymentMethodID] [int] NULL,
	[Date] [datetime] NULL,
	[Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [VisitID], [PhysicianId], [PaymentMethodID], [Date], [Description]) VALUES (1, 832, 21, 2, CAST(N'2024-12-01T00:00:00.000' AS DateTime), N'Emergency medication prescribed')
INSERT [dbo].[Prescription] ([PrescriptionID], [VisitID], [PhysicianId], [PaymentMethodID], [Date], [Description]) VALUES (2, 1148, 82, 1, CAST(N'2024-12-11T00:00:00.000' AS DateTime), N'Routine follow-up prescription')
INSERT [dbo].[Prescription] ([PrescriptionID], [VisitID], [PhysicianId], [PaymentMethodID], [Date], [Description]) VALUES (3, 291, 241, 5, CAST(N'2023-07-06T00:00:00.000' AS DateTime), N'Emergency medication prescribed')
GO
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physician] ([PhysicianID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
