USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[BillingService]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingService](
	[BillingServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BillingID] [int] NOT NULL,
	[ServiceCategory] [varchar](50) NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[ServiceDate] [datetime] NOT NULL,
	[Quantity] [int] NULL,
	[UnitCost] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](5, 2) NULL,
	[TotalCost]  AS ([Quantity]*[UnitCost]),
	[FinalAmount]  AS ([Quantity]*[UnitCost]-(([Quantity]*[UnitCost])*[Discount])/(100)),
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillingService] ON 

INSERT [dbo].[BillingService] ([BillingServiceID], [BillingID], [ServiceCategory], [ServiceName], [ServiceDate], [Quantity], [UnitCost], [Discount], [CreatedDate], [UpdatedDate]) VALUES (1, 331, N'Medication', N'IV Therapy', CAST(N'2024-09-15T00:00:00.000' AS DateTime), 1, CAST(798.13 AS Decimal(10, 2)), CAST(19.02 AS Decimal(5, 2)), CAST(N'2026-03-17T14:22:16.467' AS DateTime), NULL)
INSERT [dbo].[BillingService] ([BillingServiceID], [BillingID], [ServiceCategory], [ServiceName], [ServiceDate], [Quantity], [UnitCost], [Discount], [CreatedDate], [UpdatedDate]) VALUES (2, 445, N'Lab', N'Blood Test', CAST(N'2026-11-10T00:00:00.000' AS DateTime), 8, CAST(1606.11 AS Decimal(10, 2)), CAST(5.43 AS Decimal(5, 2)), CAST(N'2026-03-17T14:22:16.473' AS DateTime), CAST(N'2026-03-17T14:22:16.473' AS DateTime))
INSERT [dbo].[BillingService] ([BillingServiceID], [BillingID], [ServiceCategory], [ServiceName], [ServiceDate], [Quantity], [UnitCost], [Discount], [CreatedDate], [UpdatedDate]) VALUES (3, 1281, N'Lab', N'Blood Test', CAST(N'2024-11-12T00:00:00.000' AS DateTime), 4, CAST(650.07 AS Decimal(10, 2)), CAST(16.46 AS Decimal(5, 2)), CAST(N'2026-03-17T14:22:16.487' AS DateTime), CAST(N'2026-03-17T14:22:16.487' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BillingService] OFF
GO
ALTER TABLE [dbo].[BillingService] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[BillingService] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[BillingService] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BillingService]  WITH CHECK ADD FOREIGN KEY([BillingID])
REFERENCES [dbo].[Billing] ([BillingID])
GO
ALTER TABLE [dbo].[BillingService]  WITH CHECK ADD FOREIGN KEY([BillingID])
REFERENCES [dbo].[Billing] ([BillingID])
GO
