USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PointOfOrigin]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointOfOrigin](
	[PointOfOriginID] [int] IDENTITY(1,1) NOT NULL,
	[OriginName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PointOfOriginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PointOfOrigin] ON 

INSERT [dbo].[PointOfOrigin] ([PointOfOriginID], [OriginName], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Home', N'Patient came from home', NULL, NULL)
INSERT [dbo].[PointOfOrigin] ([PointOfOriginID], [OriginName], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Clinic Referral', N'Referred by clinic', NULL, NULL)
INSERT [dbo].[PointOfOrigin] ([PointOfOriginID], [OriginName], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Emergency Room', N'Transferred from ER', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PointOfOrigin] OFF
GO
