USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Inpatient]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inpatient](
	[InpatientId] [int] IDENTITY(1,1) NOT NULL,
	[VisitId] [int] NOT NULL,
	[BedID] [int] NOT NULL,
	[GMLOS] [varchar](50) NULL,
	[Notes] [varchar](max) NULL,
	[PreopFlag] [varchar](50) NULL,
	[Telemetry] [varchar](50) NULL,
	[Allergies] [varchar](50) NULL,
	[NPO] [varchar](50) NULL,
	[DNR] [varchar](50) NULL,
	[Fall] [varchar](50) NULL,
	[PreopFlagVal] [varchar](50) NULL,
	[LegalStatusID] [int] NULL,
	[LegalStatusColor] [varchar](50) NULL,
	[LegalStatusVal] [varchar](50) NULL,
	[SoundAlike] [varchar](50) NULL,
	[AdmitDate] [varchar](50) NULL,
	[DischargeDate] [varchar](50) NULL,
	[PCU] [varchar](50) NULL,
	[CountDownFromAdmit] [varchar](50) NULL,
	[PsychiatristSeen] [varchar](50) NULL,
	[InternistSeen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InpatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inpatient] ON 

INSERT [dbo].[Inpatient] ([InpatientId], [VisitId], [BedID], [GMLOS], [Notes], [PreopFlag], [Telemetry], [Allergies], [NPO], [DNR], [Fall], [PreopFlagVal], [LegalStatusID], [LegalStatusColor], [LegalStatusVal], [SoundAlike], [AdmitDate], [DischargeDate], [PCU], [CountDownFromAdmit], [PsychiatristSeen], [InternistSeen]) VALUES (1, 61, 1, N'5', N'Patient stable and recovering', N'Yes', N'Monitoring', N'Penicillin', N'Yes', N'No', N'No', N'1', 1, N'Green', N'Active', N'None', N'2023-01-01', N'2023-01-06', N'Yes', N'5 days', N'No', N'Yes')
INSERT [dbo].[Inpatient] ([InpatientId], [VisitId], [BedID], [GMLOS], [Notes], [PreopFlag], [Telemetry], [Allergies], [NPO], [DNR], [Fall], [PreopFlagVal], [LegalStatusID], [LegalStatusColor], [LegalStatusVal], [SoundAlike], [AdmitDate], [DischargeDate], [PCU], [CountDownFromAdmit], [PsychiatristSeen], [InternistSeen]) VALUES (2, 62, 2, N'7', N'Post-op care required', N'No', N'Not Required', N'None', N'No', N'Yes', N'Yes', N'0', 2, N'Red', N'Inactive', N'None', N'2023-01-02', N'2023-01-09', N'No', N'7 days', N'Yes', N'Yes')
INSERT [dbo].[Inpatient] ([InpatientId], [VisitId], [BedID], [GMLOS], [Notes], [PreopFlag], [Telemetry], [Allergies], [NPO], [DNR], [Fall], [PreopFlagVal], [LegalStatusID], [LegalStatusColor], [LegalStatusVal], [SoundAlike], [AdmitDate], [DischargeDate], [PCU], [CountDownFromAdmit], [PsychiatristSeen], [InternistSeen]) VALUES (3, 63, 3, N'4', N'Regular check-up required', N'Yes', N'Monitoring', N'Latex', N'No', N'No', N'No', N'1', 1, N'Yellow', N'Active', N'None', N'2023-01-03', N'2023-01-07', N'Yes', N'4 days', N'No', N'No')
SET IDENTITY_INSERT [dbo].[Inpatient] OFF
GO
ALTER TABLE [dbo].[Inpatient]  WITH CHECK ADD FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed] ([BedId])
GO
ALTER TABLE [dbo].[Inpatient]  WITH CHECK ADD FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed] ([BedId])
GO
ALTER TABLE [dbo].[Inpatient]  WITH CHECK ADD FOREIGN KEY([LegalStatusID])
REFERENCES [dbo].[LegalStatus] ([LegalStatusId])
GO
ALTER TABLE [dbo].[Inpatient]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[Inpatient]  WITH CHECK ADD FOREIGN KEY([VisitId])
REFERENCES [dbo].[Visit] ([VisitID])
GO
