USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Physician]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Physician](
	[PhysicianID] [int] IDENTITY(1,1) NOT NULL,
	[PhysicianCode]  AS ('PHY-'+right('00000'+CONVERT([varchar](10),[PhysicianID]),(5))),
	[PhysicianFirstName] [varchar](50) NOT NULL,
	[PhysicianLastName] [varchar](50) NOT NULL,
	[SpecialtyID] [int] NULL,
	[DepartmentID] [int] NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhysicianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Physician] ON 

INSERT [dbo].[Physician] ([PhysicianID], [PhysicianFirstName], [PhysicianLastName], [SpecialtyID], [DepartmentID], [Phone], [Email]) VALUES (1, N'Eliza', N'Palmer', 11, 1, N'303-987-6543', N'john.doe@example.com')
INSERT [dbo].[Physician] ([PhysicianID], [PhysicianFirstName], [PhysicianLastName], [SpecialtyID], [DepartmentID], [Phone], [Email]) VALUES (2, N'Frederick', N'Monroe', 1, 2, N'720-333-4444', N'jane.smith@example.com')
INSERT [dbo].[Physician] ([PhysicianID], [PhysicianFirstName], [PhysicianLastName], [SpecialtyID], [DepartmentID], [Phone], [Email]) VALUES (3, N'Greta', N'Kaiser', 1, 3, N'970-777-8888', N'emily.johnson@example.com')
GO
SET IDENTITY_INSERT [dbo].[Physician] OFF
GO
ALTER TABLE [dbo].[Physician]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Physician]  WITH CHECK ADD FOREIGN KEY([SpecialtyID])
REFERENCES [dbo].[Specialty] ([SpecialtyID])
GO
