USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Discharge]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discharge](
	[DischargeID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionID] [int] NOT NULL,
	[DischargeDate] [datetime] NOT NULL,
	[BedID] [int] NULL,
	[StatusID] [int] NULL,
	[DestinationID] [int] NULL,
	[DischargeNotes] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ServiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DischargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Discharge] ON 

INSERT [dbo].[Discharge] ([DischargeID], [AdmissionID], [DischargeDate], [BedID], [StatusID], [DestinationID], [DischargeNotes], [CreatedAt], [UpdatedAt], [ServiceID]) VALUES (1, 12, CAST(N'2023-05-14T00:00:00.000' AS DateTime), 101, 3, 2, N'Patient stable, routine follow-up', CAST(N'2023-05-14T00:00:00.000' AS DateTime), CAST(N'2023-05-15T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[Discharge] ([DischargeID], [AdmissionID], [DischargeDate], [BedID], [StatusID], [DestinationID], [DischargeNotes], [CreatedAt], [UpdatedAt], [ServiceID]) VALUES (2, 40, CAST(N'2023-06-02T00:00:00.000' AS DateTime), 205, 1, 5, N'Discharged home with medication', CAST(N'2023-06-02T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Discharge] ([DischargeID], [AdmissionID], [DischargeDate], [BedID], [StatusID], [DestinationID], [DischargeNotes], [CreatedAt], [UpdatedAt], [ServiceID]) VALUES (3, 100, CAST(N'2023-07-10T00:00:00.000' AS DateTime), 307, 4, 3, N'Transferred to another facility', CAST(N'2023-07-10T00:00:00.000' AS DateTime), CAST(N'2023-07-12T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Discharge] OFF
GO
ALTER TABLE [dbo].[Discharge] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Discharge]  WITH CHECK ADD FOREIGN KEY([AdmissionID])
REFERENCES [dbo].[Admission] ([AdmissionID])
GO
ALTER TABLE [dbo].[Discharge]  WITH CHECK ADD FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed] ([BedId])
GO
ALTER TABLE [dbo].[Discharge]  WITH CHECK ADD FOREIGN KEY([DestinationID])
REFERENCES [dbo].[DischargeDestination] ([DestinationID])
GO
ALTER TABLE [dbo].[Discharge]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[DischargeService] ([ServiceID])
GO
ALTER TABLE [dbo].[Discharge]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[DischargeStatus] ([StatusID])
GO
