USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[Medication]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medication](
	[MedicationID] [int] IDENTITY(1,1) NOT NULL,
	[MedicationCode] [varchar](50) NULL,
	[MedicationName] [varchar](100) NOT NULL,
	[MedicationCategory] [varchar](100) NULL,
	[Manufacturer] [varchar](100) NULL,
	[ExpirationDate] [date] NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Medication] ON 

INSERT [dbo].[Medication] ([MedicationID], [MedicationCode], [MedicationName], [MedicationCategory], [Manufacturer], [ExpirationDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'MED_001', N'Amoxicillin', N'Antibiotic', N'Pfizer', CAST(N'2026-05-01' AS Date), N'Used for bacterial infections', CAST(N'2023-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Medication] ([MedicationID], [MedicationCode], [MedicationName], [MedicationCategory], [Manufacturer], [ExpirationDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'MED_002', N'Ibuprofen', N'Analgesic', N'Johnson & Johnson', CAST(N'2025-12-01' AS Date), N'Pain reliever and anti-inflammatory', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Medication] ([MedicationID], [MedicationCode], [MedicationName], [MedicationCategory], [Manufacturer], [ExpirationDate], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'MED_003', N'Paracetamol', N'Analgesic', N'GSK', CAST(N'2026-08-15' AS Date), N'Fever and pain reducer', CAST(N'2023-03-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Medication] OFF
GO
ALTER TABLE [dbo].[Medication] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
