USE [PatientManagementSystem]
GO
/****** Object:  Table [dbo].[PatientType]    Script Date: 4/3/2026 9:19:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientType](
	[PatientTypeId] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NULL,
	[PatientTypeName] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientType] ON 

INSERT [dbo].[PatientType] ([PatientTypeId], [VisitID], [PatientTypeName], [Description], [CreatedDate], [UpdatedDate]) VALUES (1, 1269, N'Follow-up', N'Routine medical care visit', CAST(N'2026-04-06T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[PatientType] ([PatientTypeId], [VisitID], [PatientTypeName], [Description], [CreatedDate], [UpdatedDate]) VALUES (2, 517, N'Follow-up', N'Patient admitted for overnight stay', CAST(N'2025-03-28T00:00:00.000' AS DateTime), CAST(N'2023-06-08T00:00:00.000' AS DateTime))
INSERT [dbo].[PatientType] ([PatientTypeId], [VisitID], [PatientTypeName], [Description], [CreatedDate], [UpdatedDate]) VALUES (3, 1595, N'Inpatient', N'Routine medical care visit', CAST(N'2024-12-31T00:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[PatientType] OFF
GO
ALTER TABLE [dbo].[PatientType] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PatientType]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
