USE [PatientManagementSystem]
GO
/****** Object:  View [dbo].[vwPatientAdmissions]    Script Date: 4/3/2026 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[vwPatientAdmissions] AS
select * from Visit
GO
