USE [PatientManagementSystem]
GO
/****** Object:  View [dbo].[vwPatientList_IN]    Script Date: 4/3/2026 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[vwPatientList_IN] 

AS
	SELECT FirstName,LastName,CellPhone,
      Email, DOB, Med_RecNo 
	FROM Patient pt JOIN PatientContact pc
	ON pt.PatientID = pc.PatientID
	WHERE pt.PatientID IN (SELECT PatientID FROM PatientAddress);
GO
