USE [PatientManagementSystem]
GO
/****** Object:  View [dbo].[vwVisitOccurenceSummary]    Script Date: 4/3/2026 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[vwVisitOccurenceSummary]
 AS 
 Select 
 pt.FirstName, 
 Count(*) As VisitOccurrence, 
 SUM (BalanceAmount) AS BalSum
 FROM Billing bl 
 JOIN Visit vs ON bl.VisitId= vs.VisitID
 JOIN Patient pt ON vs.PatientID = pt.PatientID
 Group By pt.FirstName;
GO
