USE [PatientManagementSystem]
GO
/****** Object:  View [dbo].[vwTopBilledPatients]    Script Date: 4/3/2026 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[vwTopBilledPatients] 
AS
Select  TOP 40 PERCENT 
	pt.PatientID,
	pt.FirstName,
	pt.LastName,
	bl.BalanceAmount
FROM Billing bl 
JOIN Patient pt ON bl.VisitId= pt.PatientID
JOIN Visit vs ON bl.VisitID = vs.VisitID
 ORDER BY BalanceAmount DESC;
GO
