USE [PatientManagementSystem]
GO
/****** Object:  View [dbo].[vw_Patient]    Script Date: 4/3/2026 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[vw_Patient] AS
Select FirstName,LastName, DOB, CellPhone,
      Email, City, [State],MED_RecNo 
FROM Patient pt JOIN PatientAddress ad 
	ON pt.PatientID =ad.PatientID JOIN PatientContact pc
	ON ad.PatientID =pc.PatientID;
GO
