USE [PatientManagementSystem]
GO
/****** Object:  View [dbo].[vwPatientBillSummary]    Script Date: 4/3/2026 9:22:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPatientBillSummary] AS
SELECT
    B.BillingID,
    B.VisitID,
    SUM(CASE WHEN ServiceCategory='Room' THEN TotalCost END) AS RoomCharges,
    SUM(CASE WHEN ServiceCategory='Lab' THEN TotalCost END) AS LabTestsCost,
    SUM(CASE WHEN ServiceCategory='Medication' THEN TotalCost END) AS MedicationCost,
    SUM(CASE WHEN ServiceCategory='Procedure' THEN TotalCost END) AS ProcedureCost
FROM BillingService BS
JOIN Billing B ON BS.BillingID = B.BillingID
GROUP BY B.BillingID, B.VisitID;
GO
